<div>
    <div class="removeTeammateBackdrop"></div>
    <div id="recentViewmoreScroll" class="removeTeammateWrapper slide-in" style="overflow-x: hidden; overflow-y: scroll;">
      <div class="topSection">
        <div class="row">
          <div class="col flex1">
            <div class="h5 text-grey mt-2 not-crct_header"></div>
          </div>
          <div>
            <div class="float-end closeIcon">
              <i class="fa fas fa-window-close" style="color: #c2c2c2;" (click)="handlerRemoveTeammateDrawer()"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="mainSection">
        <div class="col">
          <div class="imageClass">
            <img src="assets/images/delete1.png" alt="Teammate" />
          </div>
          <p class="toptitle">Remove Teammate</p>
          <p class="bottomText mt-3">Are you sure you want to remove <span class="font-weight-bold text-body">{{user.userEmail}}</span>? He may not be able to access Ampliz data anymore.
          </p>
          <div class="mt-3 px-5 d-flex justify-content-end">
            <div><button class="btn teammate_remove_cancel_btn mr-2" (click)="handlerRemoveTeammateDrawer()">Cancel</button></div>
            <div><button (click)="removeTeamMate()" class="btn teammate_remove_btn ml-3">Remove</button></div>
          </div>
        </div>
      </div>
    </div>
  </div>
