<div class="main-container">
	<h6>{{ edit ? 'Edit' : 'Add more' }} credits</h6>
	<div class="card">
		<div class="header d-flex align-items-center">
			<div>
				<span
					>Your total credit <span class="credit-value">{{ remainingCrdits }}</span></span
				>
			</div>
			<div>
				<span
					>Your mobile credit <span class="credit-value">{{ remainingMobileCredits }}</span></span
				>
			</div>
		</div>

		<div class="content-section d-flex flex-column">
			<div class="input-container d-flex">
				<div class="credit-container col-3 flex-column">
					<div class="input-header">
						<span>Credits</span>
					</div>
					<div class="input-group">
						<div class="input-group-prepend">
							<button class="btn range-button" type="button" (click)="decrement(true)">
								<i class="fa fa-minus"></i>
							</button>
						</div>
						<input type="number" min="1" class="form-control" [(ngModel)]="params.credit" />
						<div class="input-group-append">
							<button class="btn range-button" type="button" (click)="increment(true)">
								<i class="fa fa-plus"></i>
							</button>
						</div>
					</div>
				</div>

				<div class="mobile-credit-container col-3 flex-column">
					<div class="input-header">
						<span class>Mobile credits</span>
					</div>
					<div class="input-group">
						<div class="input-group-prepend">
							<button class="btn range-button" type="button" (click)="decrement()">
								<i class="fa fa-minus"></i>
							</button>
						</div>
						<input type="number" min="1" class="form-control" [(ngModel)]="params.mobileCredit" />
						<div class="input-group-append">
							<button class="btn range-button" type="button" (click)="increment()">
								<i class="fa fa-plus"></i>
							</button>
						</div>
					</div>
				</div>
			</div>

			<div class="action-button-container d-flex align-items-center justify-content-end mt-3 gap-3">
				<span class="canel-btn" (click)="handleCancel($event)">Cancel</span>
				<button
					class="save-btn"
					type="button"
					(click)="updateCredits()"
					[class.enable-btn]="validateInput"
				>
					{{ edit ? 'Update' : 'Add' }}
				</button>
			</div>
		</div>
	</div>
</div>
