/* Div Styling */
.content {
  margin: -10px 0px 0px 15px;
}
.list-wrapper {
  border: 0.5px solid #eff1ef;
  border-radius: 5px;

  border-top: none;
}
.list-header-wrapper {
  border: 0.5px solid #eff1ef;
  align-items: center;
  justify-content: space-evenly;
  padding: 15px;
  border-bottom: none;
  margin: auto;
  margin-top: 20px;
}
.page-header-wrapper {
  align-items: center;
  color: #040404;
}
.checkbox-wrapper {
  align-items: center;
  margin-left: -13px;
}
.search-bar-wrapper {
  width: 80%;
}
.pagination-wrapper {
  float: right;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
/*-------------------*/

/* Header Styling */
.arrowback-icon {
  cursor: pointer;
  margin-right: 20px;
}
.page-header-text {
  font-size: 18px;
  font-weight: 500;
}
.page-header-count {
  font-size: 12px;
  background: #dafff2;
  color: #09a38d;
  padding: 2px 5px;
  margin-left: 7px;
  font-weight: 600;
  border-radius: 5px;
}

/* List Header Styling */
.selected-count {
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #696969;
}
.search-bar {
  border-radius: 5px !important;
}
.export-btn {
  display: flex;
  border: none;
  padding: 7px 20px;
  background: #0071eb;
  color: #fff;
  align-items: center;
  border-radius: 50px;
  cursor: pointer;
}
.disable-btn {
  color: #696969 !important;
  background: #e4e2e2 !important;
  cursor: default !important;
}
.export-btn-text {
  margin-left: 10px;
  font-size: 14px;
}
.pagination-info {
  margin-right: 20px;
  font-size: 14px;
  font-weight: 400;
  color: black;
}
.selected-count {
  font-weight: 300;
}

/* Checkbox Styling Starts */
.checkbox-container {
  display: flex;
  padding: 3px 7px;
  border: 1px solid #ceeaff;
  background-color: #e3f3ff;
  align-content: center;
  justify-content: space-around;
  border-radius: 5px;
  margin-left: -14px;
  margin-top: 5px;
  cursor: pointer;
}

.container {
  display: block;
  position: relative;
  margin-bottom: 18px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #fff;
  border: 1px solid #c2c2c2;
  border-radius: 4px;
}
.container input:checked ~ .checkmark {
  background-color: #0071eb;
  border: none;
}
.container:hover input ~ .checkmark::before {
  border: 0.5px solid #1991eb;
}
.contianer:hover input ~ .checkmark:after {
  border: none;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}
.container .checkmark:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 7px;
  display: table;
  width: 5px;
  height: 10px;
  border: 2px solid #fff;
  border-top-width: 0;
  border-left-width: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.partiallySelected {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #fff;
  border: 1px solid #c2c2c2;
  margin-top: 2px;
  border-radius: 4px;
}
.container input:checked ~ .partiallySelected {
  background-color: #0071eb;
  border: none;
}
.partiallySelected:after {
  content: "";
  position: absolute;
  display: none;
}
.container input:checked ~ .partiallySelected:after {
  display: block;
}
.container .partiallySelected:after {
  left: 0;
  right: 0;
  top: 8px;
  background-color: white;
  border: 1px solid white;
  width: 11px;
  border-radius: 2px;
  margin-left: auto;
  margin-right: auto;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #0071eb;
  animation: spinner 0.8s linear infinite;
  margin-left: 22px;
}

.loader-disable {
  pointer-events: none;
  background-color: #fff;
  border: 1px solid #0071eb;
  color: transparent;
}
