<div class="container col">
	<!-- Credit summary card starts -->
	<div class="card-section">
		<div class="action-card">
			<app-credit-action-cards
				(cancel)="cancelAction($event)"
				[edit]="isEdit"
				*ngIf="isAction"
				[userCredits]="userCredits"
				[adminCredits]="adminCredits"
				[userId]="userInfo.userId"
			></app-credit-action-cards>
		</div>

		<div class="credit-summary-card">
			<app-credit-summary
				*ngIf="!isAction"
				(trigger)="handleTrigger($event)"
				[isAdmin]="isAdmin"
				[userCredits]="userCredits"
			></app-credit-summary>
		</div>
	</div>
	<!-- Credit summary card ends -->
</div>
