
select.form-control:not([size]):not([multiple]) {
    font: 400 13px/60px "Proxima Nova",Arial,sans-serif!important;
    height: 40px;
    font-size: 14px;
    padding-left: 24px;
    font-weight: 400;
    color: #9ca3b9;
    cursor: pointer;
}

.alin-item {
    text-align: right!important;
}

.invalid-feedback {
    display: none;
    width: 100%;
    margin-top: 1px;
    margin-bottom: -9px!important;
    font-size: 11px;
    font-weight: 400;
    color: #dc3545;
}

.error {
    font-size: 11px;
    font-weight: 400;
    color: #dc3545;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 1px;
}