<div class="container row justify-content-center">
  <div class="col-2 svg-container">
    <img src="../../../../../../assets/images/feedback.svg" width="45px" />
  </div>

  <div class="col-10 row justify-content-center content-container">
    <span class="col-12 text-center">{{ username }}, do you like using Ampliz?</span>
    <div class="col-12 row action-container justify-content-evenly">
      <button class="no-btn btn">Not Really</button>
      <button class="yes-btn btn">Yes</button>
    </div>
  </div>
</div>
