::placeholder {
	color: #a0a0a0;
	font-size: 12px;
}
.list-container::-webkit-scrollbar {
	display: none;
}

/* Wrapper CSS */
.content-container {
	height: 100vh;
	overflow: hidden;
}
.header-container {
	top: 0;
	padding: 25px;
	padding-bottom: 0px;
	margin-bottom: 20px;
}
.list-container {
	overflow-y: auto;
	overflow-x: hidden;
}
.card-container {
	border-bottom: 0.5px solid #e0e0e0;
	transition: 0.25s all ease-in-out;
}
.card-container:hover {
	background-color: #f7f7f7;
}
.active-card {
	background-color: #f7f7f7;
}
.list-container:last-child {
	padding-bottom: 90px;
}

.divider {
	padding: 0px !important;
	width: 100%;
	content: '';
	border-bottom: 0.5px solid #e0e0e0;
}

/* Heading Css */
.heading h2 {
	font-size: 20px;
	font-weight: 600;
	color: #000000;
}
.heading p {
	font-size: 12px;
	color: #85898f;
	font-weight: 300;
}

/* Search Input css */
.search-input {
	border: 1px solid #d2d0d0;
	border-radius: 4px;
	margin: 8px 0;
	outline: none;
	padding: 8px;
	box-sizing: border-box;
	transition: 0.3s;
	font-size: 12px;
	width: 100%;
}

.search-input:focus {
	box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.inputWithIcon input[type='text'] {
	padding-left: 40px;
}

.inputWithIcon {
	position: relative;
}

.inputWithIcon i {
	position: absolute;
	left: 0;
	top: 9px;
	padding: 9px 8px;
	color: #a0a0a0;
	transition: 0.3s;
}

/* Filter dropdown css */
.filter-dropdown {
	border: 1px solid #d2d0d0;
	text-align: center;
	/* padding: 8px; */
	align-items: center;
	border-radius: 4px;
	aspect-ratio: 1 / 1;
	display: flex;
	justify-content: center;
	cursor: pointer;
	transition: 0.25s all ease-in-out;
}
.filter-count {
	border-radius: 50px;
	position: absolute;
	top: -9px;
	right: 0;
	background: #ff6c63;
	width: 15px;
	color: white;
	font-size: 10px;
}
.filter-dropdown:focus svg {
	stroke: var(--primary);
}
.filter-dropdown svg {
	stroke: #495365;
	transition: 0.25s all ease-in-out;
}
.filter-dropdown:hover svg {
	stroke: var(--primary) !important;
}
.filter-dropdown:hover {
	border-color: var(--primary);
	background-color: #e5f2ff;
}
.active-filter {
	border-color: var(--primary);
	background-color: #e5f2ff;
}
.form-check {
	padding-left: 0.5rem !important;
	padding: 5px 0px;
}
.form-check-inline {
	display: flex;
}
.form-check-inline label {
	flex-grow: 1;
	cursor: pointer;
	margin-left: 5px;
	font-size: 12px;
}
.form-check input[type='checkbox']:checked:before {
	content: '';
	position: absolute;
	top: 9px;
	left: 15px;
	display: table;
	width: 4px;
	height: 10px;
	border: 1px solid #fff;
	border-top-width: 0;
	border-left-width: 0;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
.form-check input[type='checkbox']:checked:after {
	background-color: #0071eb !important;
	border-color: #0071eb !important;
}
.clear-all-container {
	margin: 10px 15px 0px 0px;
	align-items: center;
	cursor: default !important;
}
.clear-all-text {
	font-size: 12px;
	font-weight: 300;
	cursor: pointer !important;
}
.dropdown-menu {
	min-width: 200px;
	max-width: 250px;
}

/* Add member css */
.add-member-btn {
	border: none;
	background-color: var(--primary);
	padding: 8px 20px;
	border-radius: 25px;
	color: #ffff;
	font-size: 12px;
	cursor: pointer;
	font-weight: 300;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}
.add-member-btn i {
	font-size: 12px;
	margin-right: 5px;
}
