.confidence-level-container {
    height: 35px;
    font-size: 11px;
    margin-top: 15px;
    border-radius: 50px;
    align-items: center;
}
.confidence-level-btn1 {
    border-radius: 50px 0px 0px 50px;
    padding: 0px;
    height: -webkit-fill-available;
    border: 0.5px solid #e0e0e0;
}
.confidence-level-btn2 {
    padding: 0px;
    height: -webkit-fill-available;
    border: 0.5px solid #e0e0e0;
}
.confidence-level-btn3 {
    border-radius: 0px 50px 50px 0px;
    padding: 0px;
    height: -webkit-fill-available;
    border: 0.5px solid #e0e0e0;
}
.button-group-border {
    background: #fff !important;
    border: #2e8cff 1px solid !important;
    color: #2e8cff !important;
}
::ng-deep .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
    line-height: 2.5 !important;
    padding: 3px 25px !important;
}

