<!-- <div id="wrapper">
  <app-header style="width: 100%"></app-header>
  <app-sidemenu elementName="imaging"></app-sidemenu>
  <div style="margin-top: 90px; margin-left: 70px">
    <app-hc-top-tab
      [activeLink]="currentTab"
      [tabItems]="tabItems"
      [isPrimary]="true"
      (tabChanged)="handleTabChange($event)"
    >
    </app-hc-top-tab>
  </div>
  <div *ngIf="currentTab == 0">
    <app-payor-executive></app-payor-executive>
  </div>
  <div *ngIf="currentTab == 1">
    <app-payor-company></app-payor-company>
  </div>
</div> -->

<div id="wrapper">
  <app-header style="width: 100%" [elementName]="'payor'"></app-header>
  <!-- <app-sidemenu elementName="payor"></app-sidemenu> -->
  <div style="margin-top: 90px; margin-left: 70px">
    <app-hc-top-tab
      [activeLink]="currentTab"
      [tabItems]="tabItems"
      [isPrimary]="true"
      (tabChanged)="handleTabChange($event)"
    >
    </app-hc-top-tab>
  </div>
  <div *ngIf="currentTab == 0">
    <app-payor-executive></app-payor-executive>
  </div>
  <div *ngIf="currentTab == 1">
    <app-payor-company></app-payor-company>
  </div>
</div>
