
.blog_content {
    background-color: white!important;
    -webkit-box-shadow: 0px 2px 4px 0px rgba(12, 0, 46, 0.06)!important;
    box-shadow: 2px 1px 4px 2px rgba(12, 0, 46, 0.06)!important;
    padding: 30px 47px 42px 50px!important;
    position: relative!important;
}

.blog_content .post_date {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    -webkit-box-shadow: 0px 2px 4px 0px rgba(12, 0, 46, 0.04);
    box-shadow: 0px 14px 30px rgba(214, 214, 214, 0.4);
    border: 1px solid #eeeeee73;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    right: 20px;
    top: -75px;
    background: #fff;
    margin-bottom: -50px;
}


.post_tag a {
    font: 400 12px/26px "Proxima Nova", Arial, sans-serif;
    color: #595b64;
    border: 1px solid #88cff7;
    border-radius: 3px;
    background: #f4fbff;
    padding: 0px 11px;
    display: inline-block;
    margin-left: 3px;
    margin-bottom: 5px;
}

.post_tag {
    padding-top: 0px;
    display: contents;
}

.service_details ul li i {
    color: #fd475d!important;
    padding-right: 12px;
    font-size: 19px;
    margin-top: -4px;
}

.service_details ul li:last-child {
    margin-bottom: 0px;
}

.service_details ul li {
    font: 400 15px "Proxima Nova", Arial, sans-serif;
    color: #777171!important;
    position: relative;
    line-height: 22px!important;
    margin-bottom: 13px;
}

.service_details ul li i {
    color: #fd475d!important;
    padding-right: 12px;
    font-size: 19px;
    margin-top: -4px;
}
.banner_top p {
    margin-bottom: 22px;
}

.seo_home_area {
    background: #f4f6f8;
    position: relative;
    padding-bottom: 60px;
}

.blog-sidebar .widget.widget_categorie .widget_title {
    margin-bottom: 8px;
}

.widget_title {
    margin-bottom: 25px;
}

.blk {
    color: #000;
}

.blog-sidebar .widget.widget_categorie ul li a {
    font: 400 15px/35px "Proxima Nova", Arial, sans-serif;
    color: #282835;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

/* .opct {
    opacity: .3;
} */

/* .serach-btn {
    font: 500 14px "Proxima nova", sans-serif;
    padding: 17px 28px;
    background: #fbfbfd;
    -webkit-box-shadow: 0px 20px 30px 0px rgba(12, 0, 46, 0.1);
    box-shadow: 0px 20px 30px 0px rgba(12, 0, 46, 0.1);
    border-radius: 3px;
    color: #5e2ced;
    display: inline-block;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
} */

.btn_hover {
    overflow: hidden;
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
    font-family: "Proxima nova", sans-serif;
    z-index: 1;
    cursor: pointer;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.s_subcribes .form-control {
    font: 300 16px/100px "Proxima Nova", Arial, sans-serif;
    color: #15a5f7;
    height: 78px;
    padding: 0px 0px 0px 50px;
    background-color: white;
    -webkit-box-shadow: 0px 30px 60px 0px rgba(8, 0, 63, 0.14);
    box-shadow: 0px 5px 30px 0px rgba(8, 0, 63, 0.14);
    border: 0px;
    border-radius: 0px;
    border-left-width: 10px;
    border-style: solid;
    z-index: 0;
}
.pr_20 {
    padding-right: 20px;
}
.pl-0, .px-0 {
    padding-left: 0!important;
}
.s_subcribes .btn-submit {
    position: absolute;
    background: transparent;
    color: #15a5f7;
    right: 40px;
    line-height: 82px;
    padding: 0px;
    font-size: 30px;
    z-index: 3;
}
.s_subcribes .form-control.placeholder {
    color: #9ea4b7;
}

.s_subcribes .form-control:-moz-placeholder {
    color: #9ea4b7;
}

.s_subcribes .form-control::-moz-placeholder {
    color: #9ea4b7;
}

.s_subcribes .form-control::-webkit-input-placeholder {
    color: #9ea4b7;
}
.serach-btn {
    font: 500 14px "Proxima nova", sans-serif !important;
    padding: 8px 20px !important;
    background: #fbfbfd !important;
    -webkit-box-shadow: 0px 20px 30px 0px rgba(12, 0, 46, 0.1);
    box-shadow: 0px 20px 30px 0px rgba(12, 0, 46, 0.1);
    border-radius: 3px;
    color: #15a5f7 !important;
    display: inline-block;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border: 1px solid;
    cursor: pointer;
}

.s_subcribes {
    max-width: 859px;
    margin: 0 auto;
    position: relative;
}

.action_area_three {
    background-image: -moz-linear-gradient(0deg, #5e2ced 0%, #6c3cf4 100%);
    background-image: -webkit-linear-gradient(0deg, #5e2ced 0%, #6c3cf4 100%);
    background-image: -ms-linear-gradient(0deg, #5e2ced 0%, #6c3cf4 100%);
    position: relative;
    z-index: 1;
}

.about_btn {
    font: 400 15px "Proxima Nova", Arial, sans-serif;
    padding: 17px 55px;
    background: #005b94;
    -webkit-box-shadow: 0px 20px 30px 0px rgba(12, 0, 46, 0.1);
    box-shadow: 0px 20px 30px 0px rgba(12, 0, 46, 0.1);
    border-radius: 3px;
    display: inline-block;
    border-radius: 50px;
    display: inline-block;
    color: #fff;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.mt_30 {
    margin-top: 30px;
}
.s_subscribe_area {
    position: relative;
    z-index: 1;
    padding: 40px 0px 60px;
    overflow: hidden;
}
.s_subscribe_area:before {
    content: "";
    width: 100%;
    height: 100%;
    background: url("../../../../../assets/img/map.png") no-repeat scroll center 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.f_size_30 {
    font-size:30px;
}

.t_color {
    color: #051441;
}
.l_height50 {
    line-height: 50px;
}
.l_height34 {
    line-height: 34px;
}

.s_subscribe_area .mchimp-errmessage,
.s_subscribe_area .mchimp-sucmessage {
    text-align: center;
}
.sec_pad {
    padding: 70px 0px 50px 0px;
    background-color: #fbfbfd;
}

.btn:focus {
    outline: 0;
    box-shadow:none;
}

.post_share {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid #d8dceb;
    padding-bottom: 10px;
}
.post_share .flex {
    -webkit-box-flex: 1;
    /* -ms-flex: 1; */
    flex: 1;
    text-align: right;
}
.post_share span a {
    font: 400 14px/26px "Proxima Nova", Arial, sans-serif;
    color: #525c7c; 
}
.post_share span a {
    margin-left: 15px;
}
.post_share span a {
    padding-right: 2px;
}
a:hover {
    color: #0056b3;
    text-decoration: underline;
}
.post_share span a:hover {
    color: #5e2ced;
}
.f_700 {
    font-weight: 700;
}
.t_color3 {
    color: #354053;
}
.right_shape,
.bottom_shape {
    position: absolute;
    width: 700px;
    height: 600px;
}


.right_shape {
    right: -450px;
    top: -102px;
}
.f_600 {
    font-weight: 600;
}
.right_shape path {
    opacity: 0.03;
}
section {
    display: block;
}
.body_wrapper {
    padding-top:4%;
    background: #f9fafd;
    min-height:99vh;
    font-family: "Proxima Nova", Arial, sans-serif !important;
}

.border_bottom {
    width: 100%;
    height: 1px;
    background: #e1e5e8;
}



.service_details ul {
    padding-left: 35px;
}

.service_details ul li {
    font: 400 16px "Proxima Nova", Arial, sans-serif;
    color: #677294;
    position: relative;
    padding-left: 35px;
    margin-bottom: 13px;
}

.service_details ul li i {
    position: absolute;
    left: 0;
    top: 5px;
    color: #5e2ced;
}

.service_details ul li:last-child {
    margin-bottom: 0px;
}

.service_details_item+.service_details_item {
    margin-top: 200px;
}
.blk {
    color: #000;
}

.responsive-map{
    margin-top: 20px;
}

@media (max-width: 1550px){
.f_size_18 {
    color: #3E4852;
    font-size: 16px !important;
}
}
@media (max-width: 375px){
    .f_size_30 {
        font-size: 22px;
        line-height: 35px;
    }
    .email_text{
        font-size: 17px;
    }
    .industry_sector{
        margin: 15px 0px 15px 0px;
    }
    .blog_content {
        padding: 10px 10px 10px 10px!important;
    }
    }
    @media (min-width: 1920px){
        .f_size_18 {
            font-size: 16px !important;
        }
        }
        @media (max-width: 450px){
        .l_height50 {
            line-height: 33px;
        }
       
        .l_height34{
            font-size: 18px;
        }
        .body_wrapper {
            padding-top:12%;
        }
        }
        
        .img-cerculer {
            width: 45px;
            height: 45px;
            margin-right: 12px;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            border-radius: 50%;
            border: 2px solid #d3d3d3;
            box-shadow: 0px 0px 14px 3px rgba(126, 142, 177, 0.24);
        }
        
        .para_p {
            padding-bottom: 0px;
            margin-bottom: 0px;
            font-size: 13px!important;
            color: #bfbfbf;
        }
        
        .tm-action-btn {
            text-align: center;
            /* padding-top: 20px; */
        }
        
        .card {
            border: 1px solid #e0e6ed;
            border-radius: 6px;
            margin-bottom: 6px;
        }
        
        .card-header {
            background-color: transparent;
            color: #f8538d;
            border-color: transparent;
            border-radius: 4px;
            padding: 0;
            position: relative;
        }
        
        .card-header section>div {
            padding: 2px 10px;
            cursor: pointer;
            display: block;
            font-size: 14px;
            letter-spacing: 1px;
        }
        
        .card-header section>div.collapsed {
            color: #15a5f7;
        }
        
        .card-header section>div:not(.collapsed) {
            color: #1b55e2;
            /* border-bottom: 2px solid #e0e6ed; */
            font-weight: 600;
        }
        
        .card-header section>div .icons {
            position: absolute;
            right: 0;
            top: 10px;
            bottom: 0;
            padding: 9px;
        }
        
        .card-header section>div .icons svg {
            width: 18px;
        }
        
        .card .card-body p {
            color: #888ea8;
            letter-spacing: 1px;
            font-size: 13px;
        }
        
        .card .card-body p:not(:last-child) {
            margin-bottom: 10px;
        }
        
        .card .card-body ul {
            margin-bottom: 0;
        }
        
        .card .card-body ul li {
            font-size: 12px;
            letter-spacing: 1px;
        }
        
        .card .card-body ul li:not(:last-child) {
            margin-bottom: 5px;
        }
        
        .card .card-body ul li a {
            color: #3b3f5c;
            font-size: 13px;
            font-weight: 600;
        }
        
        .card .card-body ul li a:hover {
            color: #1b55e2;
        }
        
        .table td,
        .table th {
            padding: .25rem;
            vertical-align: top;
            border-top: none!important;
        }
        
        .table {
            width: 100%;
            max-width: 100%;
            margin-bottom: 0rem;
            background-color: transparent;
        }
         /* .body_wrapper{
            font: 300 15px/28px "Proxima Nova", Arial, sans-serif;
            letter-spacing: 0px;
            color: #677294;
        } */

        .spinner {
            position: absolute;
            left: 50%;
            top: 54%;
            height:60px;
            width:60px;
            margin:0px auto;
         }
         ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
            stroke: #15a5f7 !important;
        }
        .media-body #desc{
            font-size:16px;
             font-family:"Proxima Nova", Arial, sans-serif !important;
        }
        .view-default{
            cursor: pointer;
            padding: 7px 16px;
            border: 1px solid rgb(214, 218, 227);
            border-radius: 6px;
            display: inline-block;
            font-size: 15px;
            text-align: center;
            color: rgb(27, 20, 65) !important;
        }
        .view-default1{
            cursor: pointer;
            padding: 7px 16px;
            border: 1px solid #15a5f7;
            border-radius: 6px;
            display: inline-block;
            font-size: 15px;
            text-align: center;
            color:#fff!important;
            background-color: #15a5f7;
        }
        .companyname{
            display: inline-block;
            width: 300px;
            white-space: pre-wrap;
            overflow: hidden !important;
            text-overflow: ellipsis;
        }
        .contacts-color{
            color:#15a5f7;
        }

        .pst_next{
            display: flex;
    border-bottom: 1px solid #d8dceb!important;
    padding-top: 10px !important;
    margin-left:-20px;
    text-align-last: left !important;
        }
        .pst_prev{
            border-bottom: none!important;
        }
        .opct {
            opacity: .3;
        }
        .validation_text{
            font-size: 15px;
        }

        .form-control.is-invalid, .was-validated .form-control:invalid {
            border-color: #dc3545;
            padding-right: 2.25rem;
            background-repeat: no-repeat;
            background-position: center right calc(2.25rem / 4);
            background-size: calc(2.25rem / 2) calc(2.25rem / 2);
            background-image:none!important;
        }
        .button-over {
            width: 188px;
            height: 46px;
            font-family: 'sans-serif', sans-serif;
            font-size: 12px;
            padding: 14px !important;
            letter-spacing: 0.5px;
            font-weight: 500;
            border-radius: 50px;
            color: #FFF!important;
            background-color: #2d8cff;
            border: 1px solid #aaaeb4!important;
            box-shadow: 0px 8px 15px rgba(17, 13, 13, 0.1)!important;
            border: none;
            -webkit-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s;
            cursor: pointer;
            outline: none;
            border: none;
        }
        
        .button-over:hover {
            background-color: #2d8cff;
            box-shadow: 0px 15px 20px rgba(32, 118, 180, 0.2);
            color: #fff!important;
        }
        .requ-success{
            color:#38c17e;
            font-size:20px;
        }