.avatarCont {
    background-color: #0071EB;
    border-radius: 30px;
    height: 50px;
    width: 50px;
    color: #fff;
}

.addUserCard {
    padding: 20px 0px;
    border-left: 0.3px solid #0071EB;
    border-right: 0.3px solid #0071EB;
    border-bottom: 0.3px solid #0071EB;
}


.addUserCard .col-1,.col-4,.col-3,.col-2 {
    display: flex;
    align-items: center;
}

.changePasswordText {
    color: #0071EB;
    cursor: pointer;
}
.avatarContPending {
    background-color: #AEDCFF;
    color: #000;
}