<div class="flex-r addUserCard">
    <div class="col-1">
        <div class="avatarCont flex-r justify-center align-center">
            {{user.userEmail|firstletter}}
        </div>
    </div>
    <div class="col-4 flex-c align-flex-start">
        <b class="my-1">
        {{user.userEmail+(isYourCard?'(You)':'')}}
        </b>
        <div class="greyText smallText">
            Added on {{user.createdOn}}
        </div>
    </div>
    <div class="col-2 greyText">
        {{user.role}}
        <!-- <app-ampliz-menu-button [title]="role" [options]="userRoleOptions" [selectedOption]="role" [itemText]="'text'"
            [itemValue]="'value'">
        </app-ampliz-menu-button> -->
    </div>
    <div class="col-3">
        <span *ngIf="!isYourCard">
            <span class="greyText">Credits Usage: </span><b>{{user.usedCredits}}/{{user.totalCredits}}</b>
        </span>
    </div>
    <div class="col-2">
        <span (click)="handleChangePassword()" *ngIf="isYourCard" class="smallText changePasswordText">
            Change Password
        </span>
        <app-ampliz-menu-button *ngIf="!isYourCard" [title]="selectedItem" [options]="actionOptions"
            (optionSelected)="handleActionChanged($event)" type="icon">
        </app-ampliz-menu-button>
    </div>
</div>