<div class="container">
	<div class="card">
		<!-- Header 1 starts -->
		<div class="header">
			<span class="header-text">Total member left <b>3</b></span>
		</div>
		<!-- Header 1 ends -->

		<!-- Email Text area start -->
		<div class="email-container row justify-content-center">
			<textarea class="col-11" name="" id="" cols="30" rows="5"></textarea>
		</div>
		<!-- Email Text area ends -->

		<!-- Header 2 starts -->
		<div class="header d-flex align-items-center">
			<span class="header-text"> Your total credit <b>10</b> </span>
			<span class="header-text m-0"> Your mobile credit <b>10</b> </span>
			<span class="upgrade-text"> Upgrade credit </span>
		</div>
		<!-- Header 2 ends -->

		<div class="content-section d-flex flex-column">
			<div class="input-container d-flex">
				<div class="credit-container col-3 flex-column">
					<div class="input-header">
						<span>Credits</span>
					</div>
					<div class="input-group">
						<div class="input-group-prepend">
							<button class="btn range-button" type="button">
								<i class="fa fa-minus"></i>
							</button>
						</div>
						<input type="number" min="1" class="form-control" value="1" />
						<div class="input-group-append">
							<button class="btn range-button" type="button">
								<i class="fa fa-plus"></i>
							</button>
						</div>
					</div>
				</div>

				<div class="mobile-credit-container col-3 flex-column">
					<div class="input-header">
						<span class>Mobile credits</span>
					</div>
					<div class="input-group">
						<div class="input-group-prepend">
							<button class="btn range-button" type="button">
								<i class="fa fa-minus"></i>
							</button>
						</div>
						<input type="number" min="1" class="form-control" value="1" />
						<div class="input-group-append">
							<button class="btn range-button" type="button">
								<i class="fa fa-plus"></i>
							</button>
						</div>
					</div>
				</div>
			</div>

			<!-- action button starts -->
			<div class="action-button-container d-flex align-items-center justify-content-end mt-3 gap-3">
				<span class="canel-btn" (click)="handleCancel()">Cancel</span>
				<button class="save-btn" type="button">Save</button>
			</div>
			<!-- action button ends -->
		</div>
	</div>
</div>
