<div id="wrapper" class="inviteTeamMember">
    <app-header [user]="user" style="width: 100%"></app-header>
    <app-sidemenu elementName="dashboard"></app-sidemenu>

    <div class="content-page enlarged inviteTeamMemberContainer">
        <div class="content">
            <div class="container">
                <div>
                    <div class="flex-r align-center my-3">
                        <div class=" largeText flex1">
                            <b>ADDED USER</b>
                        </div>
                        <div class="flex-r align-center">
                            <div class="smallText mx-3">
                                <span class="greyText">Credit Usage : </span> <b>{{seatsCreditsStatus.usedCredits}}/{{seatsCreditsStatus.totalCredits}}</b>
                            </div>

                            <div class="smallText mx-3">
                                <i>{{seatsCreditsStatus.noOfSeats}} seat remaining</i>
                            </div>
                            <div class="ml-3">
                                <div class="inviteButton" (click)="openInviteDrawer=true">
                                    <mat-icon aria-hidden="false" aria-label="business icon" class="mr-1" >group
                                    </mat-icon>
                                    Invite Teammate
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="flex-r inviteTeamMemberHeading">
                        <div class="col-5">
                            User
                        </div>
                        <div class="col-3">
                            Role
                        </div>
                    </div>
                    <app-add-user-card
                    [user]="user"
                    [isYourCard]="yourEmailId==user.userEmail"
                    *ngFor="let user of activeUserList"
                    (addRemoveCreditPressed)="handleAddRemoveCredit(user)"
                    (removeUserPressed)="handleRemoveUser(user)"
                    (changePasswordClicked)="handleChangePasswordClick()"
                    ></app-add-user-card>
                </div>


                <div *ngIf="pendingUserList.length>0">
                        <div class=" largeText flex1 my-3">
                            <b>INVITES</b>
                        </div>

                    <div class="flex-r inviteTeamMemberHeading">
                        
                        <div class="col-5">
                            Pending Invitation
                        </div>
                        <div class="col-2">
                            Role
                        </div>
                        <div class="col-3">
                            Invited
                        </div>
                    </div>
                    <app-pending-invites-card
                    *ngFor="let user of pendingUserList"
                    (resendButtonClicked)="handleResendButton(user.inviteeEmail)"
                    [email]="user.inviteeEmail"
                    [role]="user.role=='TeamMemberUser'?'User':'Admin'"
                    [invitedOn]="user.invitedOn"
                    ></app-pending-invites-card>
                </div>
            </div>
        </div>

    </div>
    <div *ngIf="openInviteDrawer">
        <app-invite-teammate-drawer 
        (teamMemberSubmitted)="callUserList();openInviteDrawer=false"
        (closeInviteDrawer)="openInviteDrawer=false"></app-invite-teammate-drawer>
    </div>


    <div *ngIf="openRemoveDrawer">
        <app-remove-teammate-drawer
        [user]="selectedUser"
        (removeUserSuccess)="openRemoveDrawer=false;callUserList();"
        (closeRemoveDrawer)="openRemoveDrawer=false"></app-remove-teammate-drawer>
    </div>
    <div *ngIf="openAddRemoveCreditDrawer">
        <app-add-remove-credit-drawer
        [user]="selectedUser"
        [seatsCreditsStatus]="seatsCreditsStatus"
        (closeAddRemoveDrawer)="openAddRemoveCreditDrawer=false"
        (creditChangedSuccess)="openAddRemoveCreditDrawer=false;callUserList()"
        ></app-add-remove-credit-drawer>
    </div>
</div>