<div class="card column filter-component" style="width: 23rem">
	<div class="flex-row header">
		<div>
			<h6 class="card-title titleCardStyle">Showing results for</h6>
		</div>

		<span (click)="clearAll()" class="clearAll" style="cursor: pointer">Clear</span>
	</div>
	<mat-accordion>
		<!-- Name component -->
		<mat-expansion-panel #panelName hideToggle="true" (opened)="triggerAutoFocus('#physicianNameInput')">
			<mat-expansion-panel-header
				[ngClass]="panelName.expanded ? 'expanded' : ''"
				[collapsedHeight]="'70px'"
				[expandedHeight]="'70px'"
			>
				<mat-panel-title>
					<div>Name</div>
					<div class="header-info" *ngIf="personName.length == 0">Person name</div>
					<div class="selected" *ngIf="personName.length > 0">
						<mat-chip-list #physicianNameList aria-label="Person name">
							<mat-basic-chip [ngClass]="'selected'">
								{{ personName }}
							</mat-basic-chip>
						</mat-chip-list>
					</div>
				</mat-panel-title>
				<mat-panel-description>
					<mat-icon class="matrl-plus">{{ panelName.expanded ? 'remove' : 'add' }}</mat-icon>
				</mat-panel-description>
			</mat-expansion-panel-header>
			<mat-form-field>
				<input
					id="physicianNameInput"
					#physicianNameInput
					matInput
					value="{{ personName }}"
					(keyup)="addPersonName($event)"
				/>
			</mat-form-field>
		</mat-expansion-panel>
		<!-- Name component End-->
		<!-- Hospital Name component -->
		<!-- <mat-expansion-panel
      #panelHospitalName
      hideToggle="true"
      [disabled]="isPaid"
    > -->
		<mat-expansion-panel
			#panelHospitalName
			hideToggle="true"
			(opened)="triggerAutoFocus('#hospitalNameInput')"
			[disabled]="isPaid"
		>
			<mat-expansion-panel-header
				[ngClass]="panelHospitalName.expanded ? 'expanded' : ''"
				[collapsedHeight]="'70px'"
				[expandedHeight]="'70px'"
			>
				<mat-panel-title>
					<div><mat-icon class="filter-title" *ngIf="isPaid">lock</mat-icon>Hospital</div>
					<div class="header-info" *ngIf="hospitalNames.length == 0">
						Hospital name, Firm type, Hospital classification
					</div>
					<div class="selected" *ngIf="hospitalNames.length > 0">
						<mat-chip-list #addedHospitals aria-label="Hospital name">
							<mat-basic-chip *ngIf="hospitalNames?.length > 0" [ngClass]="'selected'">
								{{ hospitalNames[0] }}
							</mat-basic-chip>
							<span *ngIf="hospitalNames?.length > 1" class="additional-selection">
								+ {{ hospitalNames.length - 1 }} more
							</span>
							<!-- <mat-basic-chip
                #selectedHospitalNameList
                *ngFor="let name of hospitalNames"
                [ngClass]="'selected'"
              >
                {{ name }}
              </mat-basic-chip> -->
						</mat-chip-list>
					</div>
				</mat-panel-title>
				<mat-panel-description>
					<mat-icon class="matrl-plus">{{ panelHospitalName.expanded ? 'remove' : 'add' }} </mat-icon>
				</mat-panel-description>
			</mat-expansion-panel-header>
			<span class="form-label">Hospital Name</span>
			<mat-form-field>
				<mat-chip-list #hospitalNameList aria-label="Hospital name input">
					<mat-basic-chip
						*ngFor="let name of hospitalNames"
						[selectable]="selectable"
						[removable]="removable"
						(removed)="removeHospital(name)"
					>
						{{ name }}
						<mat-icon matChipRemove>close</mat-icon>
					</mat-basic-chip>
					<input
						id="hospitalNameInput"
						#hospitalNameInput
						placeholder=""
						aria-label="Hospital Input"
						matInput
						[formControl]="hospitalControl"
						[matAutocomplete]="hospitalNameAuto"
						floatPlaceholder="never"
						[matChipInputFor]="hospitalNameList"
						[matChipInputSeparatorKeyCodes]="separatorKeysCodes"
					/>
				</mat-chip-list>

				<mat-autocomplete
					#hospitalNameAuto="matAutocomplete"
					(optionSelected)="selectedHospitalName($event)"
					class="app-autocomplete"
				>
					<mat-option *ngFor="let hospital of filteredHospitals" [value]="hospital.hospitalName">
						{{ hospital.hospitalName }}
					</mat-option>
				</mat-autocomplete>
			</mat-form-field>
			<span class="form-label">Select Firm Type</span>
			<mat-form-field>
				<mat-select
					panelClass="mat-custom-select"
					style="width: 100% !important"
					[formControl]="firmsControl"
					[(value)]="selectedFirms"
				>
					<mat-select-trigger>
						<mat-basic-chip
							*ngIf="selectedFirms?.length > 0"
							[selectable]="selectable"
							[removable]="removable"
							(removed)="onFirmDeselect(selectedFirms)"
						>
							{{ selectedFirms }}
							<mat-icon matChipRemove>close</mat-icon>
						</mat-basic-chip>
					</mat-select-trigger>
					<mat-option *ngFor="let level of firmListData" [value]="level" (click)="onFirmSelect(level)">
						{{ level }}
					</mat-option>
				</mat-select>
			</mat-form-field>
			<span class="form-label">Select Hospital Classification</span>
			<mat-form-field>
				<mat-select
					panelClass="mat-custom-select"
					style="width: 100% !important"
					[formControl]="classificationControl"
					multiple
					[(value)]="selecteClassification"
				>
					<mat-select-trigger>
						<mat-basic-chip
							*ngIf="selecteClassification?.length > 0"
							[selectable]="selectable"
							[removable]="removable"
							(removed)="onHospitalClassicationDeselect(selecteClassification[0])"
						>
							{{ selecteClassification[0] }}
							<mat-icon matChipRemove>close</mat-icon>
						</mat-basic-chip>
						<span *ngIf="selecteClassification?.length > 1" class="additional-selection">
							(+{{ selecteClassification.length - 1 }}
							{{ selecteClassification?.length === 2 ? 'other' : 'others' }})
						</span>
					</mat-select-trigger>
					<mat-option
						*ngFor="let level of getListForHospitalClasification"
						[value]="level"
						(click)="onHospitalClassificationSelect(level)"
					>
						{{ level }}
					</mat-option>
				</mat-select>
			</mat-form-field>
		</mat-expansion-panel>
		<!-- Hospital Name component end-->
		<!-- Title component -->
		<mat-expansion-panel
			#panelTitle
			hideToggle="true"
			[disabled]="isPaid"
			(opened)="triggerAutoFocus('#includeTitleInput')"
		>
			<mat-expansion-panel-header
				[ngClass]="panelTitle.expanded ? 'expanded' : ''"
				[collapsedHeight]="'70px'"
				[expandedHeight]="'70px'"
			>
				<mat-panel-title>
					<div><mat-icon class="filter-title" *ngIf="isPaid">lock</mat-icon>Title</div>
					<div class="header-info" *ngIf="includedTitles.length == 0">Enter Title</div>
					<div class="selected" *ngIf="includedTitles.length > 0">
						<mat-chip-list #includedTitleList aria-label="Included title">
							<mat-basic-chip *ngIf="includedTitles?.length > 0" [ngClass]="'selected'">
								{{ includedTitles[0] }}
							</mat-basic-chip>
							<span *ngIf="includedTitles?.length > 1" class="additional-selection">
								+ {{ includedTitles.length - 1 }} more
							</span>
						</mat-chip-list>
					</div>
				</mat-panel-title>
				<mat-panel-description>
					<mat-icon class="matrl-plus">{{ panelTitle.expanded ? 'remove' : 'add' }}</mat-icon>
				</mat-panel-description>
			</mat-expansion-panel-header>
			<span class="form-label">Include title</span>
			<mat-form-field>
				<mat-chip-list #includedTitlesListInput aria-label="Include title input">
					<mat-basic-chip
						*ngFor="let title of includedTitles"
						[selectable]="selectable"
						[removable]="removable"
						(removed)="removeIncludedTitle(title)"
					>
						{{ title }}
						<mat-icon matChipRemove>close</mat-icon>
					</mat-basic-chip>
					<input
						id="includeTitleInput"
						#includeTitleInput
						aria-label="Include Title"
						matInput
						[formControl]="titleControl"
						[matAutocomplete]="titleAuto"
						floatPlaceholder="never"
						[matChipInputFor]="includedTitlesListInput"
						[matChipInputSeparatorKeyCodes]="separatorKeysCodes"
					/>
				</mat-chip-list>
				<mat-autocomplete
					#titleAuto="matAutocomplete"
					(optionSelected)="selectedIncludeTitle($event)"
					class="app-autocomplete"
				>
					<mat-option *ngFor="let title of titleListData" [value]="title">
						{{ title }}
					</mat-option>
				</mat-autocomplete>
			</mat-form-field>
			<span class="form-label">Exclude title</span>
			<mat-form-field>
				<mat-chip-list #excludeTitleList aria-label="Exclude title">
					<mat-basic-chip
						*ngFor="let title of excludedTitles"
						[selectable]="selectable"
						[removable]="removable"
						(removed)="removeExcludedTitle(title)"
					>
						{{ title }}
						<mat-icon matChipRemove>close</mat-icon>
					</mat-basic-chip>
					<input
						#excludeTitleInput
						aria-label="exclude Title List"
						matInput
						[matChipInputFor]="excludeTitleList"
						[formControl]="exTitleControl"
						[matAutocomplete]="exTitleAuto"
						floatPlaceholder="never"
						[matChipInputFor]="includedTitlesListInput"
						[matChipInputSeparatorKeyCodes]="separatorKeysCodes"
					/>
				</mat-chip-list>
				<mat-autocomplete
					#exTitleAuto="matAutocomplete"
					(optionSelected)="selectedExIncludeTitle($event)"
					class="app-autocomplete"
				>
					<mat-option *ngFor="let title of titleListData" [value]="title">
						{{ title }}
					</mat-option>
				</mat-autocomplete>
			</mat-form-field>
		</mat-expansion-panel>
		<mat-expansion-panel
			style="display: none"
			#panelLocation
			hideToggle="true"
			[disabled]="isPaid"
			(opened)="triggerAutoFocus('#includeTitleInput')"
		>
			<mat-expansion-panel-header
				[ngClass]="panelLocation.expanded ? 'expanded' : ''"
				[collapsedHeight]="'70px'"
				[expandedHeight]="'70px'"
			>
				<mat-panel-title>
					<div><mat-icon class="filter-title" *ngIf="isPaid">lock</mat-icon>Title</div>
					<div class="header-info" *ngIf="includedTitles.length == 0">Enter Title</div>
					<div class="selected" *ngIf="includedTitles.length > 0">
						<mat-chip-list #includedTitleList aria-label="Included title">
							<mat-basic-chip #selectedHospitalNameList *ngIf="includedTitles?.length > 0" [ngClass]="'selected'">
								{{ includedTitles[0] }}
							</mat-basic-chip>
							<span *ngIf="includedTitles?.length > 1" class="additional-selection">
								+ {{ includedTitles.length - 1 }} more
							</span>
						</mat-chip-list>
					</div>
				</mat-panel-title>
				<mat-panel-description>
					<mat-icon class="matrl-plus">{{ panelLocation.expanded ? 'remove' : 'add' }}</mat-icon>
				</mat-panel-description>
			</mat-expansion-panel-header>
			<span class="form-label">Include title</span>
			<mat-form-field>
				<mat-chip-list #includedTitlesListInput aria-label="Include title input">
					<mat-basic-chip
						*ngFor="let title of includedTitles"
						[selectable]="selectable"
						[removable]="removable"
						(removed)="removeIncludedTitle(title)"
					>
						{{ title }}
						<mat-icon matChipRemove>close</mat-icon>
					</mat-basic-chip>
					<input
						id="includeTitleInput"
						#includeTitleInput
						aria-label="Include Title"
						matInput
						[formControl]="titleControl"
						[matAutocomplete]="titleAuto"
						floatPlaceholder="never"
						[matChipInputFor]="includedTitlesListInput"
						[matChipInputSeparatorKeyCodes]="separatorKeysCodes"
					/>
				</mat-chip-list>

				<mat-autocomplete
					#stateAuto="matAutocomplete"
					(optionSelected)="selectStates($event)"
					class="app-autocomplete"
				>
					<mat-option *ngFor="let state of filteredStates" [value]="state">
						{{ state.stateFullName }}
					</mat-option>
				</mat-autocomplete>
			</mat-form-field>
			<span class="form-label">Exclude title</span>
			<mat-form-field class="example-chip-list mt-3">
				<mat-chip-list #includedItem aria-label="includedItem">
					<mat-basic-chip
						*ngFor="let content of excludedTitles"
						[selectable]="selectable"
						[removable]="true"
						(removed)="removeItem(content)"
						class="chip-list"
					>
						{{ content }}
						<mat-icon matChipRemove class="chip-list">close</mat-icon>
					</mat-basic-chip>
					<input
						placeholder="Exclude Title"
						#includeItemInput
						matInput
						[formControl]="totalItemsExcludeControl"
						[matAutocomplete]="excludeItemAuto"
						[matChipInputFor]="includedItem"
						[matChipInputSeparatorKeyCodes]="separatorKeysCodes"
						(matChipInputTokenEnd)="selectText($event)"
					/>
				</mat-chip-list>
				<mat-icon matSuffix class="closeIcon" *ngIf="excludedTitles.length > 0" (click)="clearItems()"
					>close</mat-icon
				>
				<mat-autocomplete
					#excludeItemAuto="matAutocomplete"
					(optionSelected)="selectText($event, 'recent')"
					class="app-autocomplete"
				>
					<mat-option style="color: #c2c2c2" *ngIf="recentIncludeItems.length > 0">RECENTLY USED</mat-option>
					<mat-option *ngFor="let contact of recentIncludeItems" [value]="contact">
						<mat-icon style="color: #c2c2c2">access_time</mat-icon>
						{{ contact }}
					</mat-option>
				</mat-autocomplete>
			</mat-form-field>
		</mat-expansion-panel>

		<!-- Title component end -->

		<!-- Level component -->
		<mat-expansion-panel #panelLevel hideToggle="true" [disabled]="isPaid">
			<mat-expansion-panel-header
				[ngClass]="panelLevel.expanded ? 'expanded' : ''"
				[collapsedHeight]="'70px'"
				[expandedHeight]="'70px'"
			>
				<mat-panel-title>
					<div><mat-icon class="filter-title" *ngIf="isPaid">lock</mat-icon>Level</div>
					<div class="header-info" *ngIf="selectedLevels.length == 0">Select level</div>
					<div class="selected" *ngIf="selectedLevels.length > 0">
						<mat-chip-list #addedLevels aria-label="Levels">
							<mat-basic-chip *ngIf="selectedLevels?.length > 0" [ngClass]="'selected'">
								{{ selectedLevels[0].level }}
							</mat-basic-chip>
							<span *ngIf="selectedLevels?.length > 1" class="additional-selection">
								+ {{ selectedLevels.length - 1 }} more
							</span>
						</mat-chip-list>
					</div>
				</mat-panel-title>
				<mat-panel-description>
					<mat-icon class="matrl-plus">{{ panelLevel.expanded ? 'remove' : 'add' }}</mat-icon>
				</mat-panel-description>
			</mat-expansion-panel-header>
			<mat-form-field>
				<mat-select panelClass="mat-custom-select" style="width: 100% !important">
					<mat-select-trigger>
						<mat-basic-chip
							*ngIf="selectedLevels?.length > 0"
							[selectable]="selectable"
							[removable]="removable"
							(removed)="onLevelDeselect(selectedLevels[0])"
						>
							{{ selectedLevels[0].level }}
							<mat-icon matChipRemove>close</mat-icon>
						</mat-basic-chip>
						<span *ngIf="selectedLevels?.length > 1" class="additional-selection">
							(+{{ selectedLevels.length - 1 }} {{ selectedLevels?.length === 2 ? 'other' : 'others' }})
						</span>
					</mat-select-trigger>
					<mat-option *ngFor="let level of levelListData" [value]="level" (click)="onLevelSelect(level)">
						<app-checkbox [checked]="isInList(selectedLevels, 'level', level.level) !== undefined"></app-checkbox>
						{{ level.level }}
					</mat-option>
				</mat-select>
			</mat-form-field>
		</mat-expansion-panel>
		<mat-expansion-panel #panelDepartment hideToggle="true" [disabled]="isPaid">
			<mat-expansion-panel-header
				[ngClass]="panelDepartment.expanded ? 'expanded' : ''"
				[collapsedHeight]="'70px'"
				[expandedHeight]="'70px'"
			>
				<mat-panel-title>
					<div><mat-icon class="filter-title" *ngIf="isPaid">lock</mat-icon>Department</div>
					<div class="header-info" *ngIf="selectedDepartment.length == 0">Select department</div>
					<div class="selected" *ngIf="selectedDepartment.length > 0">
						<mat-chip-list #addedHospitals aria-label="Department">
							<mat-basic-chip *ngIf="selectedDepartment?.length > 0" [ngClass]="'selected'">
								{{ selectedDepartment[0] }}
							</mat-basic-chip>
							<span *ngIf="selectedDepartment?.length > 1" class="additional-selection">
								+ {{ selectedDepartment.length - 1 }} more
							</span>
							<!-- <mat-basic-chip
                #selectedHospitalNameList
                *ngFor="let department of selectedDepartment"
                [ngClass]="'selected'"
              >
                {{ department }}
              </mat-basic-chip> -->
						</mat-chip-list>
					</div>
				</mat-panel-title>
				<mat-panel-description>
					<mat-icon class="matrl-plus">{{ panelDepartment.expanded ? 'remove' : 'add' }}</mat-icon>
				</mat-panel-description>
			</mat-expansion-panel-header>
			<mat-form-field>
				<mat-select
					panelClass="mat-custom-select"
					style="width: 100% !important"
					multiple
					[formControl]="DepartmentFormControl"
				>
					<mat-select-trigger>
						<mat-basic-chip
							*ngIf="selectedDepartment?.length > 0"
							[selectable]="selectable"
							[removable]="removable"
							(removed)="onDepartmentDeselect(selectedDepartment[0])"
						>	
							{{ selectedDepartment[0] }}
							<mat-icon matChipRemove>close</mat-icon>
						</mat-basic-chip>
						<span *ngIf="selectedDepartment?.length > 1" class="additional-selection">
							(+{{ selectedDepartment.length - 1 }} {{ selectedDepartment?.length === 2 ? 'other' : 'others' }})
						</span>
					</mat-select-trigger>
					<mat-option
						*ngFor="let department of departmentListData"
						[value]="department"
						(click)="onDepartmentSelect(department)"
						color="#2d8cff"
					>
						{{ department }}</mat-option
					>
				</mat-select>
			</mat-form-field>
		</mat-expansion-panel>
		<!-- Department component End-->
		<!-- Location component -->
		<mat-expansion-panel
			#panelLocation
			hideToggle="true"
			[disabled]="isPaid"
			(opened)="triggerAutoFocus('#stateInput')"
		>
			<mat-expansion-panel-header
				[ngClass]="panelLocation.expanded ? 'expanded' : ''"
				[collapsedHeight]="'70px'"
				[expandedHeight]="'70px'"
			>
				<mat-panel-title>
					<div><mat-icon class="filter-title" *ngIf="isPaid">lock</mat-icon>Location</div>
					<div class="header-info" *ngIf="selectedStates.length == 0">State, City</div>
					<div class="selected" *ngIf="selectedStates.length > 0">
						<mat-chip-list #addedStates aria-label="Added states">
							<mat-basic-chip #selectedHospitalNameList *ngIf="selectedStates?.length > 0" [ngClass]="'selected'">
								{{ selectedStates[0].stateFullName }}
							</mat-basic-chip>
							<span *ngIf="selectedStates?.length > 1" class="additional-selection">
								+ {{ selectedStates.length - 1 }} more
							</span>
						</mat-chip-list>
					</div>
				</mat-panel-title>
				<mat-panel-description>
					<mat-icon class="matrl-plus">{{ panelLocation.expanded ? 'remove' : 'add' }}</mat-icon>
				</mat-panel-description>
			</mat-expansion-panel-header>
			<span class="form-label">State</span>
			<mat-form-field>
				<mat-chip-list #statesChipList aria-label="State input">
					<mat-basic-chip
						*ngFor="let state of selectedStates"
						[selectable]="selectable"
						[removable]="removable"
						(removed)="removeState(state)"
					>
						{{ state.stateFullName }}
						<mat-icon matChipRemove>close</mat-icon>
					</mat-basic-chip>
					<input
						#stateInput
						id="stateInput"
						aria-label="stateList"
						matInput
						[formControl]="stateControl"
						[matAutocomplete]="stateAuto"
						floatPlaceholder="never"
						[matChipInputFor]="statesChipList"
						[matChipInputSeparatorKeyCodes]="separatorKeysCodes"
					/>
				</mat-chip-list>

				<mat-autocomplete
					#stateAuto="matAutocomplete"
					(optionSelected)="selectStates($event)"
					class="app-autocomplete"
				>
					<mat-option *ngFor="let state of filteredStates" [value]="state">
						{{ state.stateFullName }}
					</mat-option>
				</mat-autocomplete>
			</mat-form-field>
			<span class="form-label">City</span>
			<mat-form-field>
				<mat-chip-list #cityList aria-label="city name input">
					<mat-basic-chip
						*ngFor="let city of selectedCities"
						[selectable]="selectable"
						[removable]="removable"
						(removed)="onCityDeselect(city)"
					>
						{{ city.city }}
						<mat-icon matChipRemove>close</mat-icon>
					</mat-basic-chip>
					<input
						#cityInput
						aria-label="Search city"
						matInput
						[formControl]="cityControl"
						[matAutocomplete]="cityAuto"
						floatPlaceholder="never"
						[matChipInputFor]="cityList"
						[matChipInputSeparatorKeyCodes]="[]"
					/>
				</mat-chip-list>

				<mat-autocomplete #cityAuto="matAutocomplete" class="app-autocomplete">
					<mat-option *ngFor="let city of searchCity" [value]="city" (click)="onCitySelect(city)">
						{{ city.city }}
					</mat-option>
				</mat-autocomplete>
				<!-- <mat-select
          panelClass="mat-custom-select"
          style="width: 100% !important"
        >
          <mat-select-trigger>
            <mat-basic-chip
              *ngIf="selectedCities?.length > 0"
              [selectable]="selectable"
              [removable]="removable"
              (removed)="onCityDeselect(selectedCities[0])"
            >
              {{ selectedCities[0].city }}
              <mat-icon matChipRemove>close</mat-icon>
            </mat-basic-chip>
            <span
              *ngIf="selectedCities?.length > 1"
              class="additional-selection"
            >
              (+{{ selectedCities.length - 1 }}
              {{ selectedCities?.length === 2 ? "other" : "others" }})
            </span>
          </mat-select-trigger>

          <mat-option
            *ngFor="let city of searchCity"
            [value]="city"
            (click)="onCitySelect(city)"
            ><mat-checkbox
              [checked]="selectedCities.includes(city)"
            ></mat-checkbox
            >{{ city.city }}</mat-option
          >
        </mat-select> -->
			</mat-form-field>
		</mat-expansion-panel>
	</mat-accordion>

	<!-- added by Rupesh end-->
</div>
<div class="upgrade-card" (click)="requestPricing()" *ngIf="isPaid">
	<div>
		<div class="blt-background">
			<mat-icon class="mt-ico">bolt</mat-icon>
		</div>
	</div>
	<div style="padding-left: 10px">
		<div class="upgrd-to-unlock">Request to unlock more filters</div>
		<div class="improve-search">Improve your search result with additional filters</div>
	</div>
</div>
