.hospital_container {
    width: 99%;
    min-height: 140px;
    border-bottom: 1px solid #e2e4e7;
    margin-top: 20px;
    padding: 0;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hospital_card {
    display: flex;
    flex-direction: row;
    flex: 3;
}

.hospital_imgContainer {
    width: 120px;
    height: 120px;
    border: 1px solid #ebebeb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hospital_content {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 4px 30px;
}

.hospital_name {
    color: #2d8cff;
    margin: 0px;
    padding: 0px;
    font-weight: 400;
    cursor: pointer;
}

.hospital_info {
    color: #86888a;
    font-size: 14px;
    display: block;
    align-items: center;
    font-weight: 400;
}

.hospital_info .hospital_type {
    padding: 10px 0
}

.hospital_info .hospital_address {
    padding-bottom: 10px;
}

.hospital_info .hospital_address img {
    padding: 0 9px 0 0;
}

.hospital_hospital {
    color: #86888a;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 14px
}

.hospital_hospital img {
    margin-right: 5px;
    width: 20px;
}

.hospital_additionInfo {
    display: flex;
    justify-content: flex-start;
    margin-top: 0px;
    flex-direction: column;
    flex: 1;
}

.hospital_url a {
    color: #2d8cff;
    font-weight: 400;
    width: 100%;
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hospital_additionInfo img {
    padding-right: 10px;
    color: #858789;
    width: 30px;
}

.hospital_additionInfo>span {
    display: flex;
    align-items: center;
    margin-bottom: 7px;
}

.hospital_email,
.hospital_contacts a {
    color: #2d8cff;
    font-weight: 400;
}

.hospital_phone {
    color: #86888a;
    font-size: 1em;
    font-weight: 400;
}

.hospital_phone img {
    padding-right: 8px;
    color: #858789;
    width: 28px;
    padding-left: 5px;
}

.saveBtn_wrp {
    margin-bottom: 25px;
    margin-top: 10px;
}

.hospital_save {
    border: 1px solid #2d8cff;
    background: transparent;
    outline: none;
    color: #2d8cff;
    border-radius: 5px;
    padding: 5px 15px;
    margin-right: 20px;
    cursor: pointer;
}

.notCorrect {
    padding-left: 7px;
    font-size: 15px;
    color: #707172;
    font-weight: 400;
    cursor: pointer;
    border: 1px solid #ddd;
    padding: 7px;
    border-radius: 6px;
}


/* .physican_cancel {
    background: transparent;
    outline: none;
    border-radius: 5px;
    padding: 5px 15px;
    margin: 0px 5px;
    border: 0px solid #2d8cff;
    color: #86888a;
  } */


/* addon css */

.hospital_imgContainer {
    width: 90px;
    height: 90px;
    border: 1px solid #ebebeb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hospital_name {
    color: #2d8cff;
    margin: 0px;
    padding: 0px;
    font-weight: 500;
    cursor: pointer;
    font-size: 16px;
}

.hospital_info {
    color: #86888a;
    font-size: 12px!important;
    display: block;
    align-items: center;
    font-weight: 400;
}

.hospital_hospital {
    color: #86888a;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 12px!important;
}

.hospital_additionInfo {
    display: flex;
    justify-content: flex-start;
    margin-top: 0px;
    flex-direction: column;
    flex: 1;
    font-size: 13px!important;
}

.hospital_additionInfo img {
    padding-right: 10px;
    color: #858789;
    width: 26px!important;
}

.notCorrect {
    padding-left: 7px;
    font-size: 12px!important;
    color: #707172;
    font-weight: 400;
    cursor: pointer;
    border: 1px solid #ddd;
    padding: 7px;
    border-radius: 3px;
}

.hospital_address .fa-map-marker {
    color: #b5b5b5!important;
    font-size: 14px;
}

.hospital_hospital .fa-bed {
    color: #b5b5b5!important;
    font-size: 14px;
}

.hospital_contacts .fa-user-circle-o {
    color: #858789!important;
    font-size: 14px;
    padding-right: 15px!important;
}

.hospital_phone .fa-phone {
    color: #858789!important;
    font-size: 14px;
    padding-right: 15px!important;
}

.hospital_url .icon {
    color: #858789!important;
    font-size: 15px;
    padding-right: 10px!important;
    margin-left: -2px;
}

.card-animate{
    animation-name: fadeInBottom;
      animation-duration: 350ms;
      animation-delay: calc(var(--animation-order) * 100ms);
      animation-fill-mode: both;
      animation-timing-function: ease-in-out;
    }

.social_icon_wrap {
    width: 88%;
    margin-bottom: 10px;
    margin-top: 4px;
}
.social_icon_wrap ul {
    margin: 0;
    padding: 0;
    display:flex;
    align-items: center;
    justify-content:flex-start;
    flex-direction: row;
}
.social_icon_wrap ul li {
   list-style-type:none;
    cursor: pointer;
}

.social_icon_wrap ul li img {
 margin-right: 0px;
}
    @keyframes fadeInBottom {
      from {
          opacity: 0;
          transform: translateY(100%);
      }
      to { opacity: 1 }
    }

