<div id="wrapper">
  <!-- Top Bar Start -->
  <app-header [user]="user" style="width: 100%" ></app-header>{{ user }}
  <!-- <app-header *ngIf="!subscribed" [header-data]="headerData"></app-header> -->
  <!-- Top Bar End -->
  <!-- ========== Left Sidebar Start ========== -->

  <app-sidemenu elementName="dashboard"></app-sidemenu>
  <div class="content-page enlarged">
    <div class="content row">
      <!-- content left starts -->
      <div class="content-left col-4">
        <div class="quota-card">
          <app-quota-card [username]="username" (lowCredit)="toggleLowCredit($event)"></app-quota-card>
        </div>
        <div class="low-quota mt-3 mx-2" *ngIf="lowCredit">
          <app-low-credit-alert-card ></app-low-credit-alert-card>
        </div>
      </div>
      <!-- content left ends -->

      <!-- content right starts -->
      <div class="content-right col">
        <!-- Chrome card starts -->
        <div class="chrome-card" *ngIf="showChrmBtn">
          <app-dashboard-chrome-card></app-dashboard-chrome-card>
        </div>
        <!-- Chrome card ends -->

        <div class="bottom row mt-2">
          <!-- Search card starts -->
          <div class="search-card col-6">
            <app-recommend-card></app-recommend-card>
          </div>
          <!-- Search card ends -->

          <!-- Recent search starts -->
          <div class="col-6">
            <div class="recent-card mb-2">
              <app-history-search-card></app-history-search-card>
            </div>
            <div class="feedback-card w-100">
              <app-feedback-card [username]="username"></app-feedback-card>
            </div>
          </div>
          <!-- Recent search ends -->
        </div>
      </div>
      <!-- content right ends -->
    </div>
  </div>
</div>
