.doctor_image {
	width: 80px;
	height: 80px;
	border-radius: 50%;
}

.similar_physician_container {
	display: flex;
	gap: 23px;
	min-width: 302px;
	flex-grow: 1;
	flex-basis: 302px;
}

.physician_name {
	color: #0071eb;
	font-family: Roboto;
	font-size: 15px;
	font-style: normal;
	font-weight: 500;
	line-height: 27px;
}

.physician_speciality {
	color: #85898f;
	font-family: Roboto;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-bottom: 11px;
}
.physician_hospital {
	color: #85898f;
	font-family: Roboto;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
