.member-info h6 {
  color: #040404;
  font-size: 13px;
}
.avatar-container {
  /* padding: 15px 5px;  */
  aspect-ratio: 1 / 1;
  background: red;
  color: white;
  border-radius: 3px;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.role-container {
  font-size: 10px;
  background: #F2F2F2;
  padding: 5px 0px;
  color: #495365;
  border-radius: 5px;
  text-align: center;
}