<div class="card column filter-component" style="width: 23rem">
    <div class="image-filter">
        <div class="flex-row filter-header">
            <div>
                <h6 class="card-title titleCardStyle">Showing results for</h6>
            </div>
            <div class="searchButton primary" [ngClass]="filterData.validateLTCSearch()?'primaryBtn':''" 
            (click)="clearFilter()"
            >
                <span>
                    Clear
                </span>
            </div>
        </div>
        <mat-accordion>
            <app-individual-filter #companyAuto (valueChanges)="companyValueChanges($event)"
                [totalItems]="companyList" [(includedItems)]="filterData.companyList"
                (includedItemsChange)="omitChanges()"
                includePlaceholder="Name of hospital / clinic" title="Hospital / Clinic"
                filterType="LTC"
                ></app-individual-filter>

            <app-individual-filter #fullnameText type="text" [totalItems]="[]"
                [(includedItems)]="filterData.fullNameList" (includedItemsChange)="omitChanges()"
                includePlaceholder="Full name" title="Name"
                [disabled]="!isSubscribed"
                filterType="LTC"
                >
            </app-individual-filter>


            <app-individual-filter #titleAuto (valueChanges)="titleValueChanges($event)"
                [totalItems]="titleList" [(includedItems)]="filterData.titleInclude" [(excludedItems)]="filterData.titleExclude"
                includePlaceholder="Include title" title="Title" excludePlaceholder="Exclude title"
                (includedItemsChange)="omitChanges()" (excludedItemsChange)="omitChanges()"
                [disabled]="!isSubscribed"
                filterType="LTC"
                >
            </app-individual-filter>


            <app-individual-filter #ltcTypeAuto
                [labelKey]="'LTCType'"
                type="multiselect"
                [totalItems]="ltcTypeList" [(includedItems)]="filterData.ltcTypeInclude"
                (includedItemsChange)="omitChanges()"
                includePlaceholder="LTC Type" title="LTC"
                [disabled]="!isSubscribed"
                filterType="LTC"
                ></app-individual-filter>


            <app-individual-filter #departmentMulti type="multiselect" [totalItems]="departmentList"
                [(includedItems)]="filterData.department" (includedItemsChange)="omitChanges()"
                includePlaceholder="Select Department" title="Department" 
                [disabled]="!isSubscribed"
                filterType="LTC"
                >
            </app-individual-filter>


            <app-individual-filter #seniorityMulti type="multiselect" [totalItems]="seniorityList"
                [(includedItems)]="filterData.seniority" (includedItemsChange)="omitChanges()"
                includePlaceholder="Select Seniority" title="Seniority"
                [disabled]="!isSubscribed"
                filterType="LTC"
                >
            </app-individual-filter>

            <div class="location">
            <app-individual-location-filter
            [countryList]="countryList"
            (locationValueChanged)="hanldeLocationValueChange($event)"
            [disabled]="!isSubscribed"
            filterType="LTC"
            [selectedStatesFromFilter]="filterData.stateList"
            [selectedCitiesFromFilter]="filterData.cityList"
            >

            </app-individual-location-filter>
            </div>
            <!-- <app-individual-filter></app-individual-filter> -->
        </mat-accordion>
    </div>
</div>