.main-container {
	padding: 0px 15px;
}
.user-text {
	font-size: 12px;
	color: #495365;
	letter-spacing: 0.5px;
	font-weight: 500;
}

.list-container {
	border: 0.5px solid #e0e0e0;
	border-radius: 5px;
	background-color: #ffff;
	margin-top: 20px;
}

.no-data-container span {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 100px 50px;
	background: #fff;
	border: 0.5px solid #e0e0e0;
	border-radius: 5px;
	color: #85898F;
	font-size: 16px;
	font-weight: 400;
}
.no-data-container span svg {
	margin-right: 30px;
}

.mat-tab-nav-bar,
.mat-tab-header {
	border-bottom: none !important;
}
.mat-tab-link {
	min-width: 140px !important;
	font-size: 12px;
}
.tab-wrapper {
	padding-bottom: 10px;
}

.search-pagination-wrapper {
	padding: 10px;
}

/* Filter css */
.filter-btn {
	background-color: #e6ecf2;
	border: none;
	color: #495365;
	border-radius: 25px;
	padding: 7px 14px;
	font-size: 10px;
	font-weight: 400;
	cursor: pointer;
	transition: 50ms all ease-in;
}
.filter-active {
	color: #fff;
	background-color: #0071eb;
	font-weight: 500;
}

/* Drodown css */
.dropdown-toggle {
	background-color: transparent !important;
	color: #495365 !important;
	border-radius: 4px !important;
	border-color: #9ea1a7 !important;
}
.dropdown-toggle:focus {
	box-shadow: none !important;
}
.dropdown-item {
	cursor: pointer;
}

/* Pagination Css */
.paginationInfo {
	font-size: 13px;
	font-weight: 400;
	padding: 0px 13px;
	color: black;
}
.pagination a {
	height: 15px;
	display: flex;
	align-items: center;
}
.paginationWrapper .pagination {
	padding-top: 0;
}
/* Table Css */
::ng-deep .ag-cell-value {
	font-size: 12px !important;
}

/* Loader css */
.loader-container {
	height: 50vh;
}
.spinner-svg {
	width: 5.25em;
	transform-origin: center;
	animation: rotate4 2s linear infinite;
}

circle {
	fill: none;
	stroke: #0071eb;
	stroke-width: 2;
	stroke-dasharray: 1, 200;
	stroke-dashoffset: 0;
	stroke-linecap: round;
	animation: dash4 1.5s ease-in-out infinite;
}

@keyframes rotate4 {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes dash4 {
	0% {
		stroke-dasharray: 1, 200;
		stroke-dashoffset: 0;
	}

	50% {
		stroke-dasharray: 90, 200;
		stroke-dashoffset: -35px;
	}

	100% {
		stroke-dashoffset: -125px;
	}
}
