<div class="main-container">
	<!-- Start content -->
	<div class="list-container">
		<!-- Start Edit profile row -->
		<div class="row">
			<div class="col-12 search-pagination-wrapper row align-items-center">
				<span class="user-text col-md-3 text-center">{{ userInfo.fullName }}'s Lists</span>
				<div class="col-md-5 col-sm-12 text-right" *ngIf="isAdmin" [class.col-md-12]="totalSize == 0">
					<div class="dropdown">
						<button
							class="btn btn-secondary dropdown-toggle"
							type="button"
							data-toggle="dropdown"
							aria-expanded="true"
							aria-haspopup="true"
						>
							{{ selectValue }}
						</button>
						<div class="dropdown-menu">
							<a
								class="dropdown-item"
								*ngFor="let item of listItems; let i = index"
								(click)="handleSelect(i)"
								>{{ item.name }}</a
							>
						</div>
					</div>
				</div>

				<div class="col-md-4 col-sm-12 text-right" [class.ml-auto]="!isAdmin">
					<div class="paginationWrapper">
						<div
							class="paginationWrapper row align-items-center justify-content-end"
							*ngIf="totalSize > 0"
						>
							<div class="paginationInfo">
								{{ offset + 1 }}-{{ offset + count > totalSize ? totalSize : count + offset }} of
								{{ totalSize }}
							</div>
							<ul class="pagination" *ngIf="pager.pages && pager.pages.length">
								<li [ngClass]="{ disabled: pager.currentPage === 1 }">
									<a *ngIf="pager.currentPage === 1" style="border-radius: 5px 0 0 5px !important"
										><i class="fa fa-chevron-left" aria-hidden="true"></i
									></a>
									<a
										*ngIf="pager.currentPage !== 1"
										(click)="setPage(pager.currentPage - 1)"
										style="border-radius: 5px 0 0 5px !important"
										><i class="fa fa fa-chevron-left" aria-hidden="true"></i
									></a>
								</li>
								<li
									[ngClass]="{
										disabled: pager.currentPage === pager.totalPages
									}"
								>
									<a
										*ngIf="pager.currentPage === pager.totalPages"
										style="border-radius: 0 5px 5px 0 !important"
										><i class="fa fa-chevron-right" aria-hidden="true"></i
									></a>
									<a
										*ngIf="pager.currentPage !== pager.totalPages"
										(click)="setPage(pager.currentPage + 1)"
										style="border-radius: 0 5px 5px 0 !important"
										><i class="fa fa-chevron-right" aria-hidden="true"></i
									></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 table-wrapper" style="display: flex; flex-direction: row; height: 100%">
				<div style="overflow: hidden; flex-grow: 1">
					<ag-grid-angular
						style="width: 100%; height: 100%"
						class="ag-theme-material list1"
						#agGrid
						[defaultColDef]="defaultColDef"
						[columnDefs]="columnDefs"
						[animateRows]="true"
						[frameworkComponents]="frameworkComponents"
						[context]="context"
						[headerHeight]="45"
						[domLayout]="domLayout"
						[rowHeight]="55"
						(firstDataRendered)="onFirstDataRendered($event)"
						(gridReady)="onGridReady($event)"
						[sortingOrder]="sortingOrders"
						[paginationPageSize]="paginationPageSize"
						[overlayLoadingTemplate]="loadingTemplate"
						[overlayNoRowsTemplate]="noRowsTemplate"
					>
					</ag-grid-angular>
				</div>
			</div>
		</div>
	</div>
</div>
