.form-control-selectBox {
  width: 100%;
  padding: 10px !important;
  height: 40px !important;
  color: rgb(150, 150, 150);
  font-size: 14px;
}

.createListWrapper {
  width: 35%;
  background-color: #fff;
  right: 0;
  top: 0px;
  height: 100vh;
  overflow: hidden;
  z-index: 100001;
  position: fixed;
  transform: translateX(100%);
}

.not-crct_header {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 500;
  color: black;
}
.detailText {
  color: #86888a;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  font-weight: 400;
  padding-top: 10px;
}
.btn-not-correct {
  background-color: #fff !important;
  border: 1px solid #e0e0e0 !important;
  color: #8a8a8a !important;
  border-radius: 50px;
  padding: 8px 23px 8px 23px !important;
  /* box-shadow: 0px 5px 11px 0px rgb(120 120 121 / 17%); */
  font-size: 14px;
}
.saveContact {
  color: black !important;
  margin-top: 35px !important;
  font-size: 16px !important;
}
.btn-not-correct_save {
  background-color: #2d8cff !important;
  border: 1px solid #2d8cff !important;
  color: #ffffff !important;
  border-radius: 50px;
  padding: 8px 23px 8px 23px !important;
  /* box-shadow: 0px 5px 11px 0px rgb(92 162 255 / 17%); */
  font-size: 14px;
}
.credit-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px;
}
.credit-container div {
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
}
.column-wrapper {
  display: flex;
  align-items: center;
}
.createList {
  color: #2d8cff;
  margin-left: 220px !important;
  padding-top: 10px !important;
  font-weight: 400;
}
.bodyWrap {
  padding: 20px !important;
}
.icon-wrapper {
  width: 35px;
  height: 35px;
  align-items: center;
  justify-content: center;
  background-color: rgb(232 242 255);
  display: flex;
  border-radius: 5px;
  margin-right: 10px;
}
.icon-wrapper img {
  width: 15px;
  height: 15px;
}
.closeIcon {
  margin-bottom: 10px;
  margin-left: 200px;
  font-size: 20px;
}
