<div class="card column filter-component" style="width: 23rem">
  <div class="flex-row header">
    <div>
      <h6 class="card-title titleCardStyle">Showing results for</h6>
    </div>
    <span (click)="clearAll()" class="clearAll" style="cursor: pointer"
      >Clear</span
    >
  </div>
  <mat-accordion>
    <!-- Hospital Name component -->
    <mat-expansion-panel #panelHospitalName hideToggle="true">
      <mat-expansion-panel-header
        [ngClass]="panelHospitalName.expanded ? 'expanded' : ''"
        [collapsedHeight]="'70px'"
        [expandedHeight]="'70px'"
      >
        <mat-panel-title>
          <div>Hospital</div>
          <div class="header-info" *ngIf="hospitalNames.length == 0">
            Enter hospital
          </div>
          <div class="selected" *ngIf="hospitalNames.length > 0">
            <mat-chip-list #addedHospitals aria-label="Hospital name">
              <mat-basic-chip
                *ngIf="hospitalNames?.length > 0"
                [ngClass]="'selected'"
              >
                {{ hospitalNames[0] }}
              </mat-basic-chip>
              <span
                *ngIf="hospitalNames?.length > 1"
                class="additional-selection"
              >
                + {{ hospitalNames.length - 1 }} more
              </span>
              <!-- <mat-basic-chip
                #selectedHospitalNameList
                *ngFor="let name of hospitalNames"
                [ngClass]="'selected'"
              >
                {{ name }}
              </mat-basic-chip> -->
            </mat-chip-list>
          </div>
        </mat-panel-title>
        <mat-panel-description>
          <mat-icon class="matrl-plus">{{
            panelHospitalName.expanded ? "remove" : "add"
          }}</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-form-field>
        <mat-chip-list #hospitalNameList aria-label="Hospital name input">
          <mat-basic-chip
            *ngFor="let name of hospitalNames"
            [selectable]="selectable"
            [removable]="removable"
            (removed)="removeHospital(name)"
          >
            {{ name }}
            <mat-icon matChipRemove>close</mat-icon>
          </mat-basic-chip>
          <input
            #hospitalNameInput
            placeholder=""
            aria-label="Number"
            matInput
            [formControl]="hospitalControl"
            [matAutocomplete]="hospitalNameAuto"
            floatPlaceholder="never"
            [matChipInputFor]="hospitalNameList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="addHospitalName($event)"
          />
        </mat-chip-list>

        <mat-autocomplete
          #hospitalNameAuto="matAutocomplete"
          (optionSelected)="selectedHospitalName($event)"
          class="app-autocomplete"
        >
          <mat-option
            *ngFor="let hospital of filteredHospitals"
            [value]="hospital.hospitalName"
          >
            {{ hospital.hospitalName }}
          </mat-option>
        </mat-autocomplete>
        <!-- <input
          [matChipInputAddOnBlur]="addOnBlur"
          [matChipInputFor]="includedTitle"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          (matChipInputTokenEnd)="add($event)"
        /> -->
      </mat-form-field>
    </mat-expansion-panel>
    <!-- Hospital Name component end-->
    <!-- Hospital Type component -->
    <mat-expansion-panel
      #hospitalTypePanel
      hideToggle="true"
      [disabled]="isPaid"
    >
      <mat-expansion-panel-header
        [ngClass]="hospitalTypePanel.expanded ? 'expanded' : ''"
        [collapsedHeight]="'70px'"
        [expandedHeight]="'70px'"
      >
        <mat-panel-title>
          <div>
            <mat-icon class="filter-title" *ngIf="isPaid">lock</mat-icon
            >Hospital Type
          </div>
          <div class="header-info" *ngIf="selectedHospitalTypes.length == 0">
            Select hospital type
          </div>
          <div class="selected" *ngIf="selectedHospitalTypes.length > 0">
            <mat-chip-list
              #selectedHospitalTypesList
              aria-label="Included speciality"
            >
              <mat-basic-chip
                *ngIf="selectedHospitalTypes?.length > 0"
                [ngClass]="'selected'"
              >
                {{ selectedHospitalTypes[0] }}
              </mat-basic-chip>
              <span
                *ngIf="selectedHospitalTypes?.length > 1"
                class="additional-selection"
              >
                + {{ selectedHospitalTypes.length - 1 }} more
              </span>
              <!-- <mat-basic-chip
                *ngFor="let type of selectedHospitalTypes"
                [ngClass]="'selected'"
              >
                {{ type }}
              </mat-basic-chip> -->
            </mat-chip-list>
          </div>
        </mat-panel-title>
        <mat-panel-description>
          <mat-icon class="matrl-plus">{{
            hospitalTypePanel.expanded ? "remove" : "add"
          }}</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <!-- <mat-form-field> -->
      <mat-form-field>
        <mat-select
          panelClass="mat-custom-select"
          style="width: 100% !important"
        >
          <mat-select-trigger>
            <mat-basic-chip
              *ngIf="selectedHospitalTypes?.length > 0"
              [selectable]="selectable"
              [removable]="removable"
              (removed)="onHospitalTypeDeselect(selectedHospitalTypes[0])"
            >
              {{ selectedHospitalTypes[0] }}
              <mat-icon matChipRemove>close</mat-icon>
            </mat-basic-chip>
            <span
              *ngIf="selectedHospitalTypes?.length > 1"
              class="additional-selection"
            >
              + {{ selectedHospitalTypes.length - 1 }} more
            </span>
          </mat-select-trigger>

          <mat-option
            *ngFor="let hospitalType of hospitalTypeList"
            [value]="hospitalType"
            (click)="onHTOptionClick(hospitalType)"
          >
            <mat-checkbox
              [checked]="selectedHospitalTypes.includes(hospitalType)"
            ></mat-checkbox>
            {{ hospitalType }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      <!-- <ng-multiselect-dropdown
        [placeholder]="'custom placeholder'"
        [settings]="dropdownSettings"
        [data]="hospitalTypeList"
        (onSelect)="onHospitalTypeSelect($event)"
        (onDeSelect)="onHospitalTypeDeselect($event)"
      >
      </ng-multiselect-dropdown> -->
      <!-- <angular2-multiselect
        [data]="hospitalTypeList"
        [(ngModel)]="selectedTypeList"
        [settings]="typeSettings"
        (onSelect)="onItemSelect($event)"
        (onDeSelect)="OnItemDeSelect($event)"
        (onSelectAll)="onSelectAll($event)"
        (onDeSelectAll)="onDeSelectAll($event)"
      ></angular2-multiselect>-->
    </mat-expansion-panel>
    <!-- Hospital Type  component end -->
    <!-- Number of beds  component -->
    <mat-expansion-panel
      #numberOfBedsPanel
      hideToggle="true"
      [disabled]="isPaid"
    >
      <mat-expansion-panel-header
        [ngClass]="numberOfBedsPanel.expanded ? 'expanded' : ''"
        [collapsedHeight]="'70px'"
        [expandedHeight]="'70px'"
      >
        <mat-panel-title>
          <div>
            <mat-icon class="filter-title" *ngIf="isPaid">lock</mat-icon>Number
            of Beds
          </div>
          <div class="header-info" *ngIf="noOfBeds.length == 0">
            Select number of beds
          </div>
          <div class="selected" *ngIf="noOfBeds.length > 0">
            <mat-chip-list #noOfBedsList aria-label="Included number of beds">
              <mat-basic-chip
                *ngIf="noOfBeds?.length > 0"
                [ngClass]="'selected'"
              >
                {{ noOfBeds[0] }}
              </mat-basic-chip>
              <span *ngIf="noOfBeds?.length > 1" class="additional-selection">
                + {{ noOfBeds.length - 1 }} more
              </span>
              <!-- <mat-basic-chip
                *ngFor="let bed of noOfBeds"
                [ngClass]="'selected'"
              >
                {{ bed }}
              </mat-basic-chip> -->
            </mat-chip-list>
          </div>
        </mat-panel-title>
        <mat-panel-description>
          <mat-icon class="matrl-plus"
            >{{ numberOfBedsPanel.expanded ? "remove" : "add" }}
          </mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-form-field>
        <mat-select
          panelClass="mat-custom-select"
          style="width: 100% !important"
        >
          <mat-select-trigger>
            <mat-basic-chip
              *ngIf="noOfBeds?.length > 0"
              [selectable]="selectable"
              [removable]="removable"
              (removed)="onNoOfBedsDeselect(noOfBeds[0])"
            >
              {{ noOfBeds[0] }}
              <mat-icon matChipRemove>close</mat-icon>
            </mat-basic-chip>
            <span *ngIf="noOfBeds?.length > 1" class="additional-selection">
              + {{ noOfBeds.length - 1 }} more
            </span>
          </mat-select-trigger>
          <!-- <mat-select-trigger
            ><mat-basic-chip
              *ngFor="let bed of noOfBeds"
              [selectable]="selectable"
              [removable]="removable"
              (removed)="onNoOfBedsDeselect(bed)"
            >
              {{ bed }}
              <mat-icon matChipRemove>close</mat-icon>
            </mat-basic-chip></mat-select-trigger
          > -->
          <!-- <input
          #cityInput
          placeholder="Search city"
          (keyup)="onCityKeyUp($event.target.value)"
        /> -->
          <mat-option
            *ngFor="let bed of noOfBedList"
            [value]="bed"
            (click)="onNoOfBedsSelect(bed)"
          >
            <mat-checkbox [checked]="noOfBeds.includes(bed)"></mat-checkbox
            >{{ bed }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      <!-- <ng-multiselect-dropdown
        [placeholder]="''"
        [settings]="dropdownSettings"
        [data]="noOfBedList"
        (onSelect)="onNoOfBedsSelect($event)"
        (onDeSelect)="onNoOfBedsDeselect($event)"
      >
      </ng-multiselect-dropdown> -->
      <!-- <mat-form-field> -->
      <!-- <angular2-multiselect
        [data]="hospitalTypeList"
        [(ngModel)]="selectedTypeList"
        [settings]="typeSettings"
        (onSelect)="onItemSelect($event)"
        (onDeSelect)="OnItemDeSelect($event)"
        (onSelectAll)="onSelectAll($event)"
        (onDeSelectAll)="onDeSelectAll($event)"
      ></angular2-multiselect> -->
    </mat-expansion-panel>
    <!-- Number of beds  component end -->

    <!-- Location component -->
    <mat-expansion-panel #panelLocation hideToggle="true" [disabled]="isPaid">
      <mat-expansion-panel-header
        [ngClass]="panelLocation.expanded ? 'expanded' : ''"
        [collapsedHeight]="'70px'"
        [expandedHeight]="'70px'"
      >
        <mat-panel-title>
          <div>
            <mat-icon class="filter-title" *ngIf="isPaid">lock</mat-icon
            >Location
          </div>
          <div class="header-info" *ngIf="selectedStates.length == 0">
            State, City
          </div>
          <div class="selected" *ngIf="selectedStates.length > 0">
            <mat-chip-list #addedStates aria-label="Added states">
              <mat-basic-chip
                #selectedHospitalNameList
                *ngIf="selectedStates?.length > 0"
                [ngClass]="'selected'"
              >
                {{ selectedStates[0].stateFullName }}
              </mat-basic-chip>
              <span
                *ngIf="selectedStates?.length > 1"
                class="additional-selection"
              >
                + {{ selectedStates.length - 1 }} more
              </span>
              <!-- <mat-basic-chip
                *ngFor="let state of selectedStates"
                [ngClass]="'selected'"
              >
                {{ state.stateFullName }}
              </mat-basic-chip> -->
            </mat-chip-list>
          </div>
        </mat-panel-title>
        <mat-panel-description>
          <mat-icon class="matrl-plus">{{
            panelLocation.expanded ? "remove" : "add"
          }}</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <span class="form-label">State</span>
      <mat-form-field>
        <mat-chip-list #statesChipList aria-label="State input">
          <mat-basic-chip
            *ngFor="let state of selectedStates"
            [selectable]="selectable"
            [removable]="removable"
            (removed)="removeState(state)"
          >
            {{ state.stateFullName }}
            <mat-icon matChipRemove>close</mat-icon>
          </mat-basic-chip>
          <input
            #stateInput
            aria-label="stateList"
            matInput
            [formControl]="stateControl"
            [matAutocomplete]="stateAuto"
            floatPlaceholder="never"
            [matChipInputFor]="statesChipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          />
        </mat-chip-list>

        <mat-autocomplete
          #stateAuto="matAutocomplete"
          (optionSelected)="selectStates($event)"
          class="app-autocomplete"
        >
          <mat-option *ngFor="let state of filteredStates" [value]="state">
            {{ state.stateFullName }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <span class="form-label">City</span>
      <mat-form-field>
        <mat-chip-list #cityList aria-label="city name input">
          <mat-basic-chip
            *ngFor="let city of selectedCities"
            [selectable]="selectable"
            [removable]="removable"
            (removed)="onCityDeselect(city)"
          >
            {{ city.city }}
            <mat-icon matChipRemove>close</mat-icon>
          </mat-basic-chip>
          <input
            #cityInput
            aria-label="Search city"
            matInput
            [formControl]="cityControl"
            [matAutocomplete]="cityAuto"
            floatPlaceholder="never"
            [matChipInputFor]="cityList"
            [matChipInputSeparatorKeyCodes]="[]"
          />
        </mat-chip-list>

        <mat-autocomplete #cityAuto="matAutocomplete" class="app-autocomplete">
          <mat-option
            *ngFor="let city of searchCity"
            [value]="city"
            (click)="onCitySelect(city)"
          >
            {{ city.city }}
          </mat-option>
        </mat-autocomplete>
        <!-- </mat-select> -->
      </mat-form-field>
      <!-- <mat-form-field> -->
      <!-- <mat-chip-list #cityChipList aria-label="City input">
          <mat-basic-chip
            *ngFor="let city of selectedCities"
            [selectable]="selectable"
            [removable]="removable"
            (removed)="remove(fruit)"
          >
            {{ city.city }}
            <mat-icon matChipRemove>close</mat-icon>
          </mat-basic-chip>

        </mat-chip-list> -->
      <!-- <mat-select
          panelClass="mat-custom-select"
          (selectionChange)="citySelected($event)"
          style="width: 100% !important"
        >
          <mat-option *ngFor="let city of searchCity" [value]="city">{{
            city.city
          }}</mat-option>
        </mat-select> -->
      <!-- <mat-select
          multiple
          panelClass="mat-custom-select"
          (selectionChange)="citySelected($event)"
        >
          <input
            #cityInput
            placeholder="Search city"
            (keyup)="onCityKeyUp($event.target.value)"
          />
          <mat-option [value]="Select">Select</mat-option>
          <mat-option *ngFor="let city of searchCity" [value]="city">{{
            city.city
          }}</mat-option>
        </mat-select> -->
      <!-- <mat-autocomplete
          #cityAuto="matAutocomplete"
          (optionSelected)="selectCity($event)"
          [displayWith]="displayCity"
        >
          <mat-option *ngFor="let city of filteredCities" [value]="city">
            <div (click)="cityOptionClicked($event, user)">
              <mat-checkbox
                [checked]="city.selected"
                (change)="toggleCitySelection(city)"
                (click)="$event.stopPropagation()"
              >
                {{ city.city }}
              </mat-checkbox>
            </div>
          </mat-option>
        </mat-autocomplete> -->
      <!-- </mat-form-field> -->
    </mat-expansion-panel>

    <!-- added by Rupesh start-->
    <!-- <mat-expansion-panel>
      <mat-expansion-panel-header collapsedHeight="70px" expandedHeight="100px">
        <div class="mat-panel-wrapper py-2">
          <mat-panel-title> NPI Number </mat-panel-title>
          <mat-panel-description
            class="pt-1"
            *ngIf="this.toppingsControl.value.length == 0"
          >
            NPI Number Search
          </mat-panel-description>
          <div class="" *ngIf="this.toppingsControl.value.length > 0">
            <span
              class="spanLabel"
              *ngFor="let item of this.toppingsControl.value"
              >{{ item }}</span
            >
          </div>
        </div>
      </mat-expansion-panel-header>

      <mat-form-field>
        <mat-select
          [formControl]="toppingsControl"
          multiple
          (selectionChange)="testdrop()"
        >
          <mat-select-trigger>
            <mat-chip-list>
              <mat-chip
                *ngFor="let topping of toppingsControl.value"
                [removable]="true"
                (removed)="onToppingRemoved(topping)"
              >
                {{ topping }}
                <mat-icon matChipRemove>cancel</mat-icon>
              </mat-chip>
            </mat-chip-list>
          </mat-select-trigger>

          <mat-option *ngFor="let topping of toppingList" [value]="topping">{{
            topping
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-expansion-panel> -->
  </mat-accordion>

  <!-- added by Rupesh end-->
</div>
<div class="upgrade-card" (click)="requestPricing()" *ngIf="isPaid">
  <div>
    <div class="blt-background">
      <mat-icon class="mt-ico">bolt</mat-icon>
    </div>
  </div>
  <div style="padding-left: 10px">
    <div class="upgrd-to-unlock">Request to unlock more filters</div>
    <div class="improve-search">
      Improve your search result with additional filters
    </div>
  </div>
</div>
