<div class="physican_container card-animate">
	<div class="container" style="margin-bottom: 10px">
		<div class="row" style="align-items: center">
			<div class="col-sm-12" [ngClass]="smallResolution ? 'col-md-12' : 'col-md-12'">
				<div class="physician_card row justify-content-between align-center">
					<div class="form-check form1 col-1" style="margin: 0px !important; justify-content: start !important">
						<input
							*ngIf="!checkboxDisabled"
							[disabled]="checkboxDisabled"
							class="form-check-input"
							type="checkbox"
							id="flexCheckDefault"
							(change)="checkboxValueChange($event)"
							[(ngModel)]="checkboxValue"
							style="margin: 0px !important; margin-right: 0px !important"
						/>
						<div *ngIf="checkboxDisabled" class="form-check-input partiallySelected" style="margin: 0px !important">
							<div class="insideContent"></div>
						</div>
					</div>

					<h5
						class="physician_name col-3"
						style="margin-left: -60px"
						(click)="onPhysicianNameClicked(physicianData)"
					>
						{{ physicianData.fullName }}
					</h5>

					<!-- Action Buttons starts -->
					<div class="button-group i-container col-1">
						<!-- Panel Starts -->
						<button
							*ngIf="!physicianData.emailViewed"
							(click)="handleEmail()"
							[matTooltip]="emailTooltip"
							[matTooltipPosition]="'above'"
						>
							<i class="fa fa-envelope-o" aria-hidden="true" *ngIf="!showEmailLoader"></i>
							<app-circle-loader class="px-1" [radius]="16" *ngIf="showEmailLoader"></app-circle-loader>
						</button>
						<button
							*ngIf="physicianData.emailViewed && this.physicianData.email.indexOf('*') <= -1"
							[class.active-btn]="physicianData.emailViewed"
							class="email-trigger"
							[matTooltip]="emailTooltip"
							[matTooltipPosition]="'above'"
							[mat-menu-trigger-for]="email"
							#emailTrigger="matMenuTrigger"
						>
							<i class="fa fa-envelope-open-o" aria-hidden="true"></i>
						</button>

						<!-- Email Panel starts -->
						<mat-menu #email="matMenu" xPosition="before">
							<div
								class="menu-div row"
								*ngIf="physicianData.emailViewed"
								(click)="$event.stopPropagation()"
								style="margin: 15px 10px 20px 10px !important"
							>
								<div class="row align-content-center col-12 justify-conten-start">
									<div class="col-12 mb-1">
										<span class="email-title"
											>Email
											<span class="email-text" style="font-size: 11px"> </span>
										</span>
									</div>
									<div class="col-12">
										<span class="email-container">
											<h6
												class="email-text"
												*ngIf="!shortEmail"
												(click)="handleAction()"
												[matTooltip]="'Send Email'"
												[matTooltipPosition]="'above'"
											>
												{{ physicianData.email }}
											</h6>
											<h6
												class="email-text"
												*ngIf="shortEmail"
												[matTooltip]="physicianData.email"
												[matTooltipPosition]="'above'"
												(click)="handleAction()"
											>
												{{ physicianData.email[0].substring(0, 30) + '...' }}
											</h6>
											<i
												[matTooltip]="'Copy email'"
												[matTooltipPosition]="'above'"
												class="fa fa-clipboard email-icon ml-2 pb-2"
												aria-hidden="true"
												matTooltipClass="tool-tip"
												(click)="handleAction('copy', physicianData.email)"
											></i>
										</span>
									</div>

									<!-- Phone -->
									<div class="col-12 mb-1">
										<span class="email-title">Phone number </span>
									</div>
									<div class="col-12">
										<h6 class="email-text" *ngIf="physicianData.phoneNumber.length !== 0; else requestPhone">
											{{ physicianData.phoneNumber }}
											<i
												[matTooltip]="'Copy Phone Number'"
												matTooltipClass="tool-tip"
												[matTooltipPosition]="'above'"
												class="fa fa-clipboard ml-2 pt-1 email-icon"
												aria-hidden="true"
												style="font-size: 13px !important"
												(click)="handleAction('copy', physicianData.phoneNumber)"
											></i>
										</h6>
										<ng-template #requestPhone>
											<span
												class="request-text"
												(click)="request('Request Phone Number Access', physicianData.physicianId)"
												>Request Phone</span
											>
										</ng-template>
									</div>

									<!-- Direct Dial -->
									<ng-container
										*ngIf="
											physicianData.mobileNumber.length !== 0 && this.physicianData.mobileNumber.indexOf('x') <= -1
										"
									>
										<div class="col-12 mb-1">
											<span class="email-title">Direct dial </span>
										</div>
										<div class="col-12">
											<h6 class="email-text">
												{{ physicianData.mobileNumber }}
												<i
													[matTooltip]="'Copy Direct Dial'"
													matTooltipClass="tool-tip"
													[matTooltipPosition]="'above'"
													class="fa fa-clipboard ml-2 pt-1 email-icon"
													style="font-size: 13px !important"
													aria-hidden="true"
													(click)="handleAction('copy', physicianData.mobileNumber)"
												></i>
											</h6>
										</div>
									</ng-container>

									<div class="col-12 mt-2 d-flex justify-content-end">
										<div
											class="saveBtn_wrp"
											style="margin-bottom: 0px !important"
											*ngIf="!(isSpecialityUser === true && isPhysician == true) && showReqesutButton == false"
										>
											<button class="physician_save" (click)="handleSaveButton()" *ngIf="showSaveButton">
												<span *ngIf="!showButtonLoader">
													{{ saveButtonText }}
												</span>
												<app-circle-loader [radius]="13" *ngIf="showButtonLoader"></app-circle-loader>
											</button>
											<span class="notCorrect mr-2" (click)="notCorrectDrawer = true">Not correct</span>
											<button class="physician_save" style="cursor: default !important" *ngIf="!showSaveButton">
												<span> Saved </span>
												<i class="fa fa-check-circle pl-1" aria-hidden="true"></i>
											</button>
										</div>
									</div>
								</div>
							</div>
						</mat-menu>
						<!-- Email Panel Ends -->

						<!-- Direct Dial starts-->
						<button
							*ngIf="!physicianData.mobileViewed"
							(click)="handleMobile()"
							[matTooltip]="mobileTooltip"
							[matTooltipPosition]="'above'"
						>
							<i class="fa fa-mobile fa-lg" aria-hidden="true" *ngIf="!showPhoneLoader"></i>
							<app-circle-loader class="px-1" [radius]="16" *ngIf="showPhoneLoader"></app-circle-loader>
						</button>
						<button
							[class.active-btn]="physicianData.mobileViewed"
							*ngIf="physicianData.mobileViewed"
							[mat-menu-trigger-for]="directDial"
							[matTooltip]="mobileTooltip"
							[matTooltipPosition]="'above'"
							#mobileTrigger="matMenuTrigger"
							[mat-menu-trigger-for]="directDial"
						>
							<i class="fa fa-mobile fa-lg" aria-hidden="true"></i>
						</button>

						<!-- Direct Dial panel starts -->
						<mat-menu #directDial xPosition="before">
							<div
								class="menu-div row"
								*ngIf="physicianData.mobileViewed"
								(click)="$event.stopPropagation()"
								style="margin: 15px 10px 20px 10px !important"
							>
								<div class="row align-content-center col-12 justify-conten-start">
									<div class="col-12">
										<span class="email-title">Direct dial</span>
									</div>
									<div class="col-12">
										<h6 class="email-text">
											{{ physicianData.mobileNumber }}
											<i
												[matTooltip]="'Copy Direct Dial'"
												matTooltipClass="tool-tip"
												[matTooltipPosition]="'above'"
												class="fa fa-clipboard ml-2 pt-1"
												aria-hidden="true"
												(click)="handleAction('copy', physicianData.mobileNumber)"
											></i>
										</h6>
									</div>
									<div class="col-12 mt-2 d-flex justify-content-end">
										<button class="physician_save" style="cursor: default !important" *ngIf="!showSaveButton">
											<span> Saved </span>
											<i class="fa fa-check-circle pl-1" aria-hidden="true"></i>
										</button>
									</div>
								</div>
							</div>
						</mat-menu>
						<!-- Direct Dial panel ends -->
						<!-- Direct Dial ends -->
					</div>
					<!-- Action Buttons ends -->

					<!-- Additional info Starts -->
					<div class="physician_hospital row col-7">
						<div class="col-6 inline-flex align-center">
							<i class="fa fa-stethoscope mr-2" aria-hidden="true"></i>
							<span
								style="color: #999; cursor: text; cursor: pointer"
								[matTooltip]="physicianData.specialty"
								[matTooltipPosition]="'above'"
								matTooltipClass="tool-tip"
							>
								{{
									shortSpeciality
										? physicianData.specialty.substring(0, 34) + '...'
										: (physicianData.specialty | titlecase)
								}}
							</span>
						</div>
						<div class="col-6 inline-flex align-center">
							<i class="fa fa-hospital-o mr-2" aria-hidden="true"></i>
							<span
								class="clickable"
								(click)="goToHospital(physicianData.hospitalId)"
								*ngIf="physicianData.showHospitalLink"
								[matTooltip]="physicianData.hospitalName"
								[matTooltipPosition]="'above'"
								matTooltipClass="tool-tip"
							>
								{{
									(shortHospital ? physicianData.hospitalName.substring(0, 34) + '...' : physicianData.hospitalName)
										| titlecase
								}}
							</span>

							<span
								style="color: #999; cursor: text; cursor: pointer"
								*ngIf="physicianData.showHospitalLink == false"
								[matTooltip]="physicianData.hospitalName"
								[matTooltipPosition]="'above'"
								matTooltipClass="tool-tip"
							>
								{{
									(shortHospital ? physicianData.hospitalName.substring(0, 34) + '...' : physicianData.hospitalName)
										| titlecase
								}}</span
							>
						</div>
					</div>
					<!-- Additional info Ends -->
				</div>
			</div>
		</div>
	</div>
</div>
<app-savelist
	[saveListDiv]="saveDrawer"
	[physicianId]="physicianData.physicianId"
	[executiveId]="physicianData.executiveId"
	(cancelBtnClick)="cancelBtnClick($event)"
	(refreshedData)="refreshedData($event)"
	[currentCredit]="currentCredit"
	*ngIf="saveDrawer"
></app-savelist>
<app-notcorrect
	[notCorrectDiv]="notCorrectDrawer"
	[physicianId]="physicianData.physicianId"
	[physicianName]="physicianData.fullName"
	[executiveId]="physicianData.executiveId"
	(cancelBtnClick)="cancelBtnClick($event)"
	*ngIf="notCorrectDrawer"
></app-notcorrect>

<!-- OLD DESIGN -->
<!-- <div class="physican_container card-animate">
	<div class="container">
		<div class="row">
			<div class="col-sm-12" [ngClass]="smallResolution ? 'col-md-8' : 'col-md-9'">
				<div class="physician_card">

					<div class="form-check">
						<input
							*ngIf="!checkboxDisabled"
							[disabled]="checkboxDisabled"
							class="form-check-input"
							type="checkbox"
							id="flexCheckDefault"
							(change)="checkboxValueChange($event)"
							[(ngModel)]="checkboxValue"
						/>
						<div *ngIf="checkboxDisabled" class="form-check-input partiallySelected">
							<div class="insideContent"></div>
						</div>
					</div>
					<div class="physician_imgContainer">
						<img
							[src]="
								physicianData.gender === 'M'
									? 'assets/images/doctor-M.png'
									: physicianData.gender === 'F'
									? 'assets/images/Doctor-F.png'
									: 'assets/img/Physician-hc.png'
							"
							width="100%"
							class="p-2"
							*ngIf="physicianData.physicianId"
						/>
						<img
							[src]="
								physicianData.gender === 'M'
									? 'assets/images/Executive-M.png'
									: physicianData.gender === 'F'
									? 'assets/images/Execuitve-F.png'
									: 'assets/img/Executive-hc.png'
							"
							width="100%"
							class="p-2"
							*ngIf="physicianData.executiveId"
						/>
					</div>

					<div class="physician_content">
						<h5 class="physician_name" (click)="onPhysicianNameClicked(physicianData)">
							{{ physicianData.fullName }}
						</h5>
						<div class="physician_hospital">
							<span style="color: #999; cursor: text" class="mr-2">{{ physicianData.specialty }}</span>

							<span style="color: #999; cursor: text"
								><i class="fa fa-map-marker pr-1" aria-hidden="true"></i>{{ physicianData.city
								}}{{
									',
                ' + physicianData.state
								}}{{ ', ' + physicianData.country }}</span
							>
						</div>
						<div class="physician_hospital">
							<i class="fa fa-hospital-o pr-2" aria-hidden="true"></i>
							<span
								class="clickable"
								(click)="goToHospital(physicianData.hospitalId)"
								*ngIf="physicianData.showHospitalLink"
								>{{ physicianData.hospitalName }}</span
							>
							<span style="color: #999; cursor: text" *ngIf="physicianData.showHospitalLink == false">{{
								physicianData.hospitalName
							}}</span>
						</div>
						<div class="physician_info">
							<span style="color: #999; cursor: text">{{ physicianData.title }}</span>
						</div>
				
					</div>
				</div>
			</div>
			<div class="col-sm-12" [ngClass]="smallResolution ? 'col-md-4' : 'col-md-3'">
				<div class="physican_additionInfo">
					<ng-container *ngIf="physicianData.emailExists">
						<span class="physican_phone">
							<i class="fa fa-envelope-o" aria-hidden="true"></i>
							<span
								class="font-weight-normal link_blue_color"
								*ngIf="!physicianData.emailViewed; else showViewed"
								(click)="viewPhysicianEmail()"
							>
								Email
							</span>

							<ng-template #showViewed>
								<div *ngIf="physicianData.email.length !== 0; else viewRequest">
									<span>{{ physicianData.email }}</span>
								</div>

								<ng-template #viewRequest>
									<span
										class="font-weight-normal link_blue_color"
										(click)="request('Request Email Access', physicianData.physicianId)"
										>Request Email</span
									>
								</ng-template>
							</ng-template>
						</span>
					</ng-container>
					<ng-container *ngIf="physicianData.phoneExists && physicianData.phoneViewed">
						<span class="physican_phone">
							<i class="fa fa-phone" aria-hidden="true"></i>
							<span
								class="font-weight-normal link_blue_color"
								*ngIf="!physicianData.phoneViewed; else showViewed"
								(click)="viewPhysicianEmail()"
							>
								View Phone Number
							</span>

							<ng-template #showViewed>
								<div *ngIf="physicianData.phoneNumber.length !== 0; else viewRequest">
									<span class="font-weight-normal">{{ physicianData.phoneNumber }} </span>
								</div>
								<ng-template #viewRequest>
									<span
										class="font-weight-normal link_blue_color"
										(click)="request('Request Phone Number Access', physicianData.physicianId)"
										>Request Phone number</span
									>
								</ng-template>
							</ng-template>
						</span>
					</ng-container>
					<ng-container *ngIf="physicianData.isMobile">
						<span class="physican_phone">
							<i class="fa fa-mobile fa-lg" aria-hidden="true"></i>
							<span
								class="font-weight-normal link_blue_color"
								*ngIf="!physicianData.mobileViewed; else showViewed"
								(click)="viewPhysicianMobileNumber()"
							>
								Direct Dial
							</span>

							<ng-template #showViewed>
								<span *ngIf="physicianData.mobileNumber.length !== 0; else viewRequest">{{
									physicianData.mobileNumber
								}}</span>
								<ng-template #viewRequest>
									<span
										class="font-weight-normal link_blue_color"
										(click)="request('Request Mobile Number Access', physicianData.physicianId)"
										>Request Mobile number</span
									>
								</ng-template>
							</ng-template>
						</span>
					</ng-container>

					<div
						class="saveBtn_wrp"
						*ngIf="!(isSpecialityUser === true && isPhysician == true) && showReqesutButton == false"
					>
						<button class="physician_save" (click)="handleSaveButton()" *ngIf="showSaveButton">
							<span *ngIf="!showButtonLoader">
								{{ saveButtonText }}
							</span>
							<app-circle-loader [radius]="13" *ngIf="showButtonLoader"></app-circle-loader>
						</button>
						<span class="notCorrect" (click)="notCorrectDrawer = true">Not correct</span>
					</div>
					<div
						class="saveBtn_wrp"
						*ngIf="!(isSpecialityUser === true && isPhysician == true) && showReqesutButton == true"
					>
						<button class="physician_save" (click)="request('Request Email Access', physicianData.physicianId)">
							<span> Request Contact </span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<app-savelist
	[saveListDiv]="saveDrawer"
	[physicianId]="physicianData.physicianId"
	[executiveId]="physicianData.executiveId"
	(cancelBtnClick)="cancelBtnClick($event)"
	(refreshedData)="refreshedData($event)"
	[currentCredit]="currentCredit"
	*ngIf="saveDrawer"
></app-savelist>
<app-notcorrect
	[notCorrectDiv]="notCorrectDrawer"
	[physicianId]="physicianData.physicianId"
	[physicianName]="physicianData.fullName"
	[executiveId]="physicianData.executiveId"
	(cancelBtnClick)="cancelBtnClick($event)"
	*ngIf="notCorrectDrawer"
></app-notcorrect> -->
<!-- OLD DESIGN ENDS -->
