/* .physican_container {
  width: 99%;
  min-height: 140px;
  border-bottom: 2px solid #e2e4e7;
  margin-top: 20px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
} */

.physician_card {
  display: flex;
  flex-direction: row;
  flex: 3;
}
.physician_content {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}

.physician_name {
  color: #2d8cff;
  margin: 0px;
  padding: 0px;
  font-weight: 400;
}
.physician-name-container {
  margin: 0px;
}

.physician_info {
  color: #86888a;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  font-weight: 400;
  padding-top: 10px;
}

/* .physican_location {
  padding-left: 15px;
} */

.physican_location img {
  padding-right: 5px;
}

.company_cont {
  color: #2d8cff;
  display: flex;
  align-items: center;
  padding-top: 5px;
  font-weight: 400;
  cursor: pointer;
}

.company_cont img {
  margin-right: 5px;
}

.physican_additionInfo {
  display: flex;
  justify-content: flex-start;
  margin-top: 0px;
  flex-direction: column;
  flex: 1;
}

.physican_additionInfo i {
  padding-right: 15px;
  color: #858789;
}

.physican_additionInfo > span {
  display: flex;
  align-items: center;
  /* margin-bottom: 10px; */
}

.physican_email {
  color: #2d8cff;
  font-weight: 400;
  cursor: pointer;
}

.physican_phone {
  color: #86888a;
  font-size: 1em;
  font-weight: 400;
}

.saveBtn_wrp {
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.physician_save {
  border: 1px solid #2d8cff !important;
  background: transparent;
  outline: none;
  color: #2d8cff;
  border-radius: 15px !important;
  padding: 5px 15px;
  margin-right: 20px;
  cursor: pointer;
}

.notCorrect {
  cursor: pointer;
  border: 1px solid #ddd;
  padding: 7px;
  border-radius: 15px !important;
}

.bottomChip {
  cursor: pointer;
  background-color: #f2f8ff !important;
  border: none;
  border-radius: 5px;
  margin: 5px;
  /* margin-bottom: 5px; */
  color: #0071eb !important;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  padding: 2px 5px;
  align-items: center;
  min-height: 24px;
  height: 1px;
  font-size: 12px;
  /* margin-top: 25px !important; */
  font-weight: 300;
}
.mat-chip.mat-standard-chip.mat-chip-disabled.bottomChip {
  opacity: 1;
}
.moreButton {
  color: #2e8cff !important;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  padding: 2px 5px;
  align-items: center;
  cursor: default;
  min-height: 24px;
  height: 1px;
  font-size: 12px;
  cursor: pointer;
  font-weight: 300;
}
.physician_imgContainer {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px !important;
  /* margin-top: 5px; */
}
.form-check {
  border-radius: 12px !important;
  margin-top: 5px;
  margin-right: 10px;
}
.physician_name {
  color: #2d8cff;
  margin: 0px;
  padding: 0px;
  font-weight: 500;
  cursor: pointer;
  font-size: 16px;
}

.physician_info {
  color: #86888a;
  font-size: 12px;
  display: flex;
  align-items: center;
  font-weight: 400;
  padding-top: 10px;
}

.company_cont {
  color: #2d8cff;
  display: flex;
  align-items: center;
  padding-top: 10px;
  font-weight: 400;
  font-size: 13px !important;
}

.physican_location img {
  padding-right: 5px;
  height: 15px !important;
}

.company_cont img {
  margin-right: 5px;
  height: 14px !important;
}

.physican_email {
  color: #2d8cff;
  font-weight: 400;
  font-size: 13px !important;
  word-break: break-word;
}

.physican_phone {
  color: #86888a;
  font-weight: 400;
  font-size: 13px !important;
}

.physician_save {
  border: 1px solid #2d8cff;
  background: transparent;
  outline: none;
  color: #2d8cff;
  border-radius: 3px;
  padding: 5px 15px;
  margin-right: 10px !important;
  cursor: pointer;
  font-size: 12px;
}

.notCorrect {
  cursor: pointer;
  border: none;
  padding: 7px;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-size: 12px;
  font-weight: 400;
}


.physican_container {
  min-height: 115px !important;
  border-bottom: 0.5px solid #e4e2e2;
  margin-top: 10px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* addon css end */

.company_cont .fa-hospital-o {
  color: #b5b5b5 !important;
  font-size: 14px;
}

.physican_location .fa-map-marker {
  color: #b5b5b5 !important;
  font-size: 14px;
}

.card-animate {
  animation-name: fadeInBottom;
  animation-duration: 350ms;
  animation-delay: calc(var(--animation-order) * 100ms);
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}
.clickable {
  cursor: pointer;
}
.filter-component .mat-basic-chip.selected {
  background-color: #ebebeb;
  border: 1px solid #a8a8a8;
  color: #a8a8a8;
}

.filter-component div.selected {
  margin-top: 5px;
}
@keyframes fadeInBottom {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
  }
}

.fa-brands {
  cursor: pointer;
}
.physician_img {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  border: none;
  padding: 0;
}
.physician_imgContainer {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  border: none;
}
img.img-default-avatar {
  border-radius: 10px;
  border: 1px solid #aedcffeb;
  padding: 12px;
}
.physician_imgContainer.with-border {
  border: 1px solid #989292;
}
.physician_content .mat-chip-list {
  margin-left: -1px;
  padding: 10px 0px;
}
.feather {
  width: 40px;
  position: absolute;
  top: 24px;
}

.lockIcon {
  height: 14px !important;
  width: 14px !important;
  color: rgb(255, 222, 6) !important;
  position: absolute;
  left: 2px;
  top: 0px;
}

.insideContent {
  background-color: #c2c2c2;
  width: 10px;
  height: 10px;
  margin: auto;
  cursor: default;
  border-radius: 2px;
}

.partiallySelected {
  content: '';
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  margin-top: -2px;
  /* margin-right: 5px; */
  border: 1px solid #c2c2c2;
  border-radius: 4px;
  transition: 240ms;
  position: relative;
  margin-bottom: -4px;
  /* cursor: pointer; */
  margin-top: 3px;
}
.not-correct-wrap {
  margin-left: -20px;
}

.email-type-container {
  background: #f6f6f6;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 10px;
  border: 0.5px solid #f6f6f6;
  margin-left: 5px;
  border-radius: 3px;
  color: black;
}
.email-type-text {
  font-size: 10px;
  font-weight: 300;
}
.show-more-container {
  visibility: hidden;
}

.show-more-button {
  font-size: 12px;
  font-weight: 400;
  color: #696969;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.3ms ease;
  margin-top: 10px;
}
.show-more-icon {
  margin-left: 5px;
  transition: 0.2s ease-in-out;
  stroke: #696969;
}
.rotateIcon {
  transform: rotate(-180deg);
  transition: 0.2s ease-in-out;
}
.email-wrapper {
  padding: 20px;
}
.email-container-heading {
  font-size: 16px;
  color: #040404;
  font-weight: 400;
}
.email-list-container {
  display: flex;
  flex-direction: column;
}
.email-list {
  align-items: center;
  padding: 10px;
  padding-right: 0px;
}
.email-list-left {
  align-items: center;
}
.email-list-left i {
  margin-right: 10px;
}

.email-list-right {
  align-items: center;
  margin-left: -5px;
  cursor: pointer;
  font-size: 13px !important;
}
.email-list-right a {
  font-size: 12px !important;
  margin-right: 10px;
}
.email-list-right:hover button {
  visibility: visible;
}
.email-text-container {
  display: flex;
  align-items: center;
}
.copy-clipboard-container {
  display: flex;
  align-items: center;
}
.email-text {
  color: #0071eb !important;
}

.copy-clipboard-icon-button {
  cursor: pointer;
  visibility: hidden;
  border: none;
  background: #ffff;
}

.copy-clipboard-icon {
  color: #0071eb;
}

.email-container {
  margin-bottom: 10px;
}

.phone-wrapper {
  padding: 20px;
}
.phone-container-heading {
  font-size: 16px;
  color: #040404;
  font-weight: 400;
}
.phone-list {
  padding: 10px 0px;
}
.phone-list-container {
  margin-top: 10px;
  align-items: center;
}
.phone-list-icon {
  font-size: 15px;
  margin-right: 15px;
}
.phone-list-text {
  font-weight: 400;
  cursor: pointer;
  color: #696969;
}
.phone-list-right {
  align-items: center;
}
.phone-list-right:hover button {
  visibility: visible;
  margin-left: 5px;
}
.email-container a span{
  color: #0071eb !important;
}
.add-space {
  margin-top: 30px;
}

::ng-deep .mat-menu-panel.show-more-menu {
  min-width: 450px !important;
}
/* ::ng-deep .mat-menu-panel.show-more-menu {
    width: 500px !important;
  }
} */
