<div class="physican_container card-animate">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-8">
        <div class="physician_card">
          <div class="form-check">
            <input
              *ngIf="!checkboxDisabled && isSubscribed && !showRequestContactBtn && !isSaved"
              [(ngModel)]="checkboxSelected"
              (change)="handleCheckboxChange($event)"
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckDefault"
              [disabled]="!isSubscribed"
            />
            <div
              *ngIf="checkboxDisabled || showRequestContactBtn || isSaved"
              class="form-check-input partiallySelected"
            >
              <div class="insideContent"></div>
            </div>
            <!-- <i-feather *ngIf="!isSubscribed" name="Lock" class=" lockIcon"></i-feather> -->
          </div>
          <div
            class="physician_imgContainer"
            [ngClass]="{
              'with-border':
                contactInfo?.imageUrl === '' || contactInfo?.imageUrl == null
            }"
          >
            <img
              [src]="contactInfo.imageUrl"
              class="physician_img"
              [ngClass]="{
                'img-default-avatar':
                  contactInfo?.imageUrl ==
                  'https://www.ampliz.com/assets/img/user.png'
              }"
              *ngIf="
                contactInfo.imageUrl &&
                contactInfo.imageUrl !== '' &&
                contactInfo.imageUrl !== null
              "
            />
            <i-feather
              name="User"
              class="feather"
              *ngIf="
                contactInfo.imageUrl === '' || contactInfo.imageUrl == null
              "
            ></i-feather>
          </div>
          <div class="physician_content">
            <h5 class="physician_name">
              {{ contactInfo?.fullName }}
            </h5>
            <div class="physician_info">
              <span *ngIf="contactInfo?.title" style="margin-right: 15px">{{
                contactInfo?.title.toString()
              }}</span>
              <span class="physican_location"
                ><i class="fa fa-map-marker pr-1" aria-hidden="true"></i
                >{{ contactInfo?.location }}</span
              >
            </div>
            <div
              (click)="doSearchContact('companyList', contactInfo.company)"
              class="company_cont"
              *ngIf="(contactInfo.company | trimUnwantedString) !== ''"
            >
              <!-- <i class="fa fab fa-amazon pr-1" aria-hidden="true"></i> -->
              <span style="color: #999">{{ contactInfo.company | trimUnwantedString }}</span>
            </div>
            <!------------>
            <mat-chip-list>
              <mat-chip
                disableRipple="true"
                selectable="false"
                class="bottomChip"
                selected="false"
                disabled="true"
                (click)="doSearchContact('skillInclude', skill)"
                *ngFor="let skill of skillSet | slice : 0 : sliceLength"
              >
                {{ skill }}
              </mat-chip>
              <span
                *ngIf="skillSet.length > sliceLength"
                class="moreButton"
                (click)="handleShowMore()"
              >
                {{ showMore ? "More +" : "Less -" }}
              </span>
            </mat-chip-list>
            <!------------>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="physican_additionInfo">
          <ng-container
            *ngIf="contactInfo.email != null && contactInfo.email != ''"
          >
            <span>
              <i class="fa fa-envelope-o" aria-hidden="true"></i>
              <a
                [href]="'mailto:' + contactInfo.email"
                class="physican_email"
                [attr.href]="!isEmailMasked ? 'mailto:' + contactInfo.email : null"
                [ngStyle]="isEmailMasked?{'cursor': 'default'} : {'cursor': 'pointer'}"
                >{{ contactInfo.email }}</a
              >
            </span>
          </ng-container>
          <!-- If Email is not present -->
          <ng-container
            *ngIf="
              contactInfo.email.length <= 0 &&
              contactInfo.directDialPhone != '' &&
              contactInfo.directDialPhone != null
            "
          >
            <span>
              <i class="fa fa-envelope-o" aria-hidden="true"></i>
              <span
                class="physican_email"
                (click)="request('Request Email Access', contactInfo.contactId)"
                >Request Email</span
              >
            </span>
          </ng-container>
          <ng-container
            *ngIf="
              contactInfo.directDialPhone != '' &&
              contactInfo.directDialPhone != null
            "
          >
            <span class="physican_phone">
              <i class="fa fa-phone" aria-hidden="true"></i>
              {{ contactInfo.directDialPhone }}</span
            >
          </ng-container>
          <!-- If Phone does't exist -->
          <!-- <ng-container
            *ngIf="
              contactInfo.directDialPhone.length <= 0 &&
              contactInfo.email != null &&
              contactInfo.email != ''
            "
          >
            <span
              class="physican_email"
              (click)="request('Request Phone Access', contactInfo.contactId)"
            >
              <i class="fa fa-phone" aria-hidden="true"></i>
              Request Phone</span
            >
          </ng-container> -->
          <div class="saveBtn_wrp">
            <i
              *ngIf="contactInfo['linkedinURL']"
              class="fa fa-brands fa-linkedin"
              (click)="openUrl('linkedinURL')"
            ></i>
            <i
              *ngIf="contactInfo['facebook']"
              class="fa fa-brands fa-facebook"
              (click)="openUrl('facebook')"
            ></i>
            <i
              *ngIf="contactInfo['twitterURL']"
              class="fa fa-brands fa-twitter"
              (click)="openUrl('twitterURL')"
            ></i>
          </div>
          <div class="saveBtn_wrp row">
            <!-- <button class="physician_save" (click)="invokeSaveList()">
              Save
            </button> -->
            <app-save-contact-modal
              *ngIf="showSaveButton && !showRequestContactBtn"
              [selectedItems]="[contactInfo.contactId]"
              [isSaveButton]="isSaveButton || saveBtnTrigger"
              [fromCard]="true"
              (successfullyAdded)="contactReceived($event)"
              (contactViewed)="refreshValues($event)"
              class="col-4"
            ></app-save-contact-modal>

            <app-request-contact
              *ngIf="showRequestContactBtn"
              class="col-4"
              [platform]="'b2b'"
              [id]="contactInfo.contactId"
            ></app-request-contact>
            <app-not-correct
              class="col-6 not-correct-wrap"
              [contactId]="contactInfo.contactId"
            ></app-not-correct>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-b2b-savelist
  [b2bSaveDrawer]="b2bSaveDrawer"
  (cancelBtnClick)="cancelBtnClick($event)"
  *ngIf="b2bSaveDrawer"
></app-b2b-savelist>
